/* colors */
$yellow: #D3FF5E;
$orange: #FF8A65;
$violet: #bf99f5;
$cream: #FFF8C3;
$pink: #FF7875;
$light-green: #8ed19d;
$text: #64ffda;
$bg: #0a192f;
$in-menu-txt-mut: #c59c65;
$in-menu-txt: #f8d862;
$txt-mute: #ccd6f669;
$project-item: #2a3c57;

/* fonts */
$sm-txt: 20px;
$md-txt: 23px;
$bg-txt: 28px;
$large-txt: 35px;