@font-face {
    font-family: 'OverpassThin';
    src: url('./fonts/Overpass-Thin.ttf');
}
@font-face {
    font-family: 'OverpassBold';
    src: url('./fonts/Overpass-SemiBold.ttf');
}
@font-face {
    font-family: 'MonoidRegular';
    src: url('./fonts/Monoid-Regular.ttf');
}
@font-face {
    font-family: 'MonoidBold';
    src: url('./fonts/Monoid-Bold.ttf');
}
@font-face {
    font-family: 'FiraCode';
    src: url('./fonts/FiraCode.ttf');
}
@font-face {
    font-family: 'SF';
    src: url('./fonts/SFPro.ttf');
}