@charset "UTF-8";
@font-face {
  font-family: "OverpassThin";
  src: url("./fonts/Overpass-Thin.ttf");
}
@font-face {
  font-family: "OverpassBold";
  src: url("./fonts/Overpass-SemiBold.ttf");
}
@font-face {
  font-family: "MonoidRegular";
  src: url("./fonts/Monoid-Regular.ttf");
}
@font-face {
  font-family: "MonoidBold";
  src: url("./fonts/Monoid-Bold.ttf");
}
@font-face {
  font-family: "FiraCode";
  src: url("./fonts/FiraCode.ttf");
}
@font-face {
  font-family: "SF";
  src: url("./fonts/SFPro.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

.preloader_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  /*animation: HidePreloader 1s forwards;
  animation-delay: 4s;*/
}
.preloader_wrapper .preloader {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.preloader_wrapper .preloader .preloader_logo {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  opacity: 0;
  transform: translateY(180px);
  animation: PreloaderImgJump 3s alternate;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-fill-mode: forwards;
}
.preloader_wrapper .preloader .preloader_check {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  display: none;
  opacity: 0;
  animation: PreloaderCheckShow 1s alternate;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-fill-mode: forwards;
}
.preloader_wrapper .preloader .preloader_border {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}
.preloader_wrapper .preloader .preloader_border .preloader_circle {
  stroke: red;
  stroke-width: 10px;
  cx: 110px;
  cy: 110px;
  r: 100px;
  fill: transparent;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: Preloader 4s alternate;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  animation-fill-mode: forwards;
}
.preloader_wrapper .preloader_text {
  font-family: "OverpassThin";
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  border-right: 3px solid green;
  padding-right: 5px;
  animation: textTypingShort 2.5s steps(25), cursorClick 0.75s step-end infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  white-space: nowrap; /* не переносить текст на новую строку */
  overflow: hidden; /* скрываем переполнение контентом */
}
.preloader_wrapper .preloader_click_text {
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.4s;
  font-family: "SF";
  font-size: 1.8rem;
  color: rgb(80, 80, 80);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  animation: PreloaderClickText 0.4s forwards, FlashText 1.5s infinite;
  animation-delay: 4s;
}
.preloader_wrapper .pulse {
  animation: Pulse 1s infinite;
}

.header {
  width: 100vw;
  height: 150px;
  display: none;
  opacity: 0;
  animation: HeaderShow 0.8s forwards;
  transform: translateY(-200px);
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4vw 0px 4vw;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 998;
}
@media (max-width: 1100px) {
  .header {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0px 8vw 0px 8vw;
  }
}
.header .header_logo {
  width: 6vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .header .header_logo {
    width: 70px;
  }
}
.header .header_menuBtn_wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  cursor: pointer;
}
@media (max-width: 700px) {
  .header .header_menuBtn_wrapper {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .header .header_menuBtn_wrapper {
    width: 50px;
    height: 50px;
  }
}
.header .header_menuBtn_wrapper .header_menuBtn {
  height: 1px;
  width: 100%;
  position: relative;
  background: black;
  transform-origin: center center;
  cursor: pointer;
}
.header .header_menuBtn_wrapper .header_menuBtn::after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  top: 8px;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.header .header_menuBtn_wrapper .header_menuBtn::before {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  top: -8px;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.header .open::before {
  animation: NavButnBefore 1s forwards;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .open::after {
  height: 0px !important;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .open {
  animation: NavButnAfter 1s forwards;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .close::before {
  animation: NavButnBeforeClose 1s forwards;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .close::after {
  height: 1px !important;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .close {
  animation: NavButnAfterClose 1s forwards;
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
}
.header .dark, .header .dark::before, .header .dark::after {
  background: white !important;
}
.header .light, .header .light::before, .header .light::after {
  background: black !important;
}

.burgerMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateX(100vw);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: black;
  animation: none;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  z-index: 900;
  padding-bottom: 15vh;
}
@media (max-width: 900px) {
  .burgerMenu {
    align-items: center;
    padding-bottom: 0vh;
  }
}
.burgerMenu .bigMenu {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 8rem 0rem 8rem;
}
@media (max-width: 1200px) {
  .burgerMenu .bigMenu {
    padding: 0rem 4rem 0rem 4rem;
  }
}
@media (max-width: 900px) {
  .burgerMenu .bigMenu {
    display: none;
  }
}
.burgerMenu .bigMenu .bigMenu_header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_num {
  color: #565656;
  font-size: 1rem;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_numActive {
  color: white !important;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_line {
  height: 1px;
  width: 0vw;
  background: #565656;
  margin-right: 3vw;
  position: relative;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_line::after {
  height: 1px;
  width: 0vw;
  background: white;
  content: " ";
  position: absolute;
  left: 0;
  top: -1px;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineActive::after {
  animation: BigMenuLineShow 0.8s forwards;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineShow {
  animation: BigMenuLineShow 0.4s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  animation-delay: 0.3s;
}
.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineClose {
  animation: BigMenuLineClose 0.4s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.burgerMenu .bigMenu .bigMenu_container {
  width: 100%;
  height: 40vh;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_show {
  transform: translateY(60px);
  opacity: 0;
  animation: BigMenuContainerShow 0.4s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_close {
  opacity: 1;
  animation: BigMenuContainerClose 0.4s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello {
  width: 60%;
  height: 100%;
  border: 1px solid #565656;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 5rem 0rem 5rem;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_title {
  color: #565656;
  font-size: 1rem;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text1, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text2 {
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text1 {
  color: #c0c0c0;
  margin-top: 60px;
  font-size: 3rem;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text2 {
  color: #707070;
  font-size: 2rem;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
  width: 60%;
  height: 100%;
  border: 1px solid #565656;
  border-radius: 5px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem 0rem 5rem;
}
@media (max-width: 1800px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 100%;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_img {
  width: auto;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1, 1.1);
  cursor: pointer;
  border-radius: 5%;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text h3 {
  font-size: 2.5rem;
  color: #c0c0c0;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text h3 {
    font-size: 2rem;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text p {
  color: #707070;
  font-size: 1.2rem;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
  margin-top: 15px;
}
@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text p {
    font-size: 1rem;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left {
  width: 5vw;
  height: 5vw;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(170, 170, 170, 0.2392156863);
  border-radius: 20% 5% 20% 5%;
  transition: 0.5s;
  position: absolute;
  top: 60%;
  cursor: pointer;
  z-index: 999;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right .bigMenu_slider_right_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right .bigMenu_slider_left_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left .bigMenu_slider_right_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left .bigMenu_slider_left_arrow {
  width: 80%;
  height: auto;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right {
  right: 30px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left {
  left: 30px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right:hover, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left:hover {
  background: rgba(170, 170, 170, 0.4431372549);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects {
  width: 90%;
  margin: auto;
  display: none;
  overflow: hidden;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider {
  width: 100%;
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 900;
  transition: 1s;
  transform: translate3d(0px, 0px, 0px);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card {
  width: auto;
  height: 40vh;
  cursor: pointer;
  transition: 0.8s;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img {
  width: 15vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transition: 1s;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img:hover {
  width: 35vw;
}
@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img:hover {
    width: 50vw;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects_slider:hover > :not(:hover) {
  opacity: 0.4;
  filter: blur(5px);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies {
  width: auto;
  height: 100%;
  border-top: 1px solid white;
  display: none;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el {
  display: flex;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  width: 17vw;
  height: 80%;
  transition: 0.4s;
  border: 1px solid #565656;
  border-radius: 10px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el img {
  width: 17vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.7;
  transition: 0.4s;
  border-radius: 10px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el img:hover {
  opacity: 1;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text {
  display: flex;
  flex-direction: column;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text h3 {
  font-size: 2.5rem;
  color: #c0c0c0;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text h3 {
    font-size: 2rem;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text ul li {
  color: #707070;
  font-size: 1.2rem;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
  margin-top: 15px;
}
@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el .bigMenu_container_hobbies_el_text ul li {
    font-size: 1rem;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies .bigMenu_container_hobbies_el:hover {
  width: 50vw;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact {
  width: auto;
  height: 100%;
  border: 1px solid #565656;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 5rem 0rem 5rem;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact h3 {
  color: #565656;
  font-size: 3rem;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact p {
  margin-top: 30px;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
  color: white;
  font-size: 1.5rem;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  max-width: 40px;
  height: 40px;
  transition: 0.4s;
  cursor: pointer;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line .bigMenu_container_contact_icons_wrapper_line_icon {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line a {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  font-family: "SF";
  white-space: nowrap;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line a {
    font-size: 1.1rem;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line:hover {
  max-width: 50vw;
}
@media (max-width: 500px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper .bigMenu_container_contact_icons_wrapper_line:hover {
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper {
    margin-top: 25px;
  }
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_contact .bigMenu_container_contact_icons_wrapper:hover > :not(:hover) {
  filter: opacity(0.4);
}
.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hobbies:hover > :not(:hover) {
  filter: opacity(0.7) blur(5px);
}
.burgerMenu .mobileMenu {
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (max-width: 900px) {
  .burgerMenu .mobileMenu {
    display: flex;
  }
}
.burgerMenu .mobileMenu .mobileMenu_link {
  font-size: 2rem;
  color: #c0c0c0;
  font-family: "FiraCode";
  letter-spacing: 1.5px;
}
.burgerMenu .mobileMenu .mobileMenu_link_active {
  color: white;
}

.main {
  display: none;
}

.fullscreen {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 999;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media (max-width: 900px) {
  .fullscreen {
    width: 40px;
    height: 40px;
  }
}
.fullscreen .fullscreen_btn, .fullscreen .minimaze_btn {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.fullscreen .fullscreen_btn {
  display: none;
}

.hello {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8vw 0 8vw;
  position: relative;
  z-index: 100;
}
@media (max-width: 1100px) {
  .hello {
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: 5vh;
  }
}
@media (max-width: 800px) {
  .hello {
    padding-bottom: 10vh;
  }
}
@media (max-width: 500px) {
  .hello {
    padding: 0;
    justify-content: center;
  }
}
.hello .hello_smtext_wrapper {
  height: 2rem;
}
.hello .hello_smtext_wrapper .hello_smtext {
  height: 0%;
  font-size: 1rem;
  animation: HelloTextShowSmText 0.8s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  overflow: hidden;
  font-family: "MonoidRegular";
  letter-spacing: 1px;
  color: #848484;
  font-weight: 600;
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: 0.9rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: 0.7rem;
  }
}
@media (max-width: 410px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: 0.6rem;
  }
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_smtext_wrapper {
    height: 1.5rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_smtext_wrapper {
    height: 1.5rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_smtext_wrapper {
    height: 1.4rem;
  }
}
@media (max-width: 500px) {
  .hello .hello_smtext_wrapper {
    height: 1.3rem;
  }
}
@media (max-width: 410px) {
  .hello .hello_smtext_wrapper {
    height: 1.2rem;
  }
}
.hello .hello_bgtext_black_wrapper {
  height: 5rem;
}
.hello .hello_bgtext_black_wrapper .hello_bgtext_black {
  font-size: 4rem;
  height: 0%;
  font-family: "SF";
  letter-spacing: 2px;
  color: black;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356);
  font-weight: 800;
  animation: HelloTextShow 0.8s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  animation-delay: 0.1s;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 3rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 1.7rem;
  }
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_black_wrapper {
    height: 4rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_bgtext_black_wrapper {
    height: 4rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_bgtext_black_wrapper {
    height: 3.5rem;
  }
}
@media (max-width: 500px) {
  .hello .hello_bgtext_black_wrapper {
    height: 3rem;
  }
}
@media (max-width: 410px) {
  .hello .hello_bgtext_black_wrapper {
    height: 2.7rem;
  }
}
.hello .hello_bgtext_mute_wrapper {
  height: 4rem;
}
.hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
  font-size: 3rem;
  font-family: "SF";
  letter-spacing: 1.5px;
  color: #848484;
  opacity: 0.8;
  height: 0%;
  animation: HelloTextShow 0.8s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  animation-delay: 0.2s;
  overflow: hidden;
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 2rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 1rem;
  }
}
@media (max-width: 410px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 0.8rem;
  }
}
@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 3rem;
  }
}
@media (max-width: 1300px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 3rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 2.5rem;
  }
}
@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 2rem;
  }
}
@media (max-width: 410px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 1.8rem;
  }
}
.hello .hello_img_wrapper {
  height: 70vh;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.hello .hello_img_wrapper a .hello_img {
  height: 0%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: HellImgShow 0.8s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
@media (max-width: 900px) {
  .hello .hello_img_wrapper a .hello_img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: auto;
  }
}
@media (max-width: 1700px) {
  .hello .hello_img_wrapper {
    height: 60vh !important;
  }
}
@media (min-height: 900px) and (max-width: 1500px) {
  .hello .hello_img_wrapper {
    height: 50vh !important;
  }
}
@media (max-width: 1100px) {
  .hello .hello_img_wrapper {
    position: relative;
    height: 40vh !important;
  }
}
@media (max-width: 800px) {
  .hello .hello_img_wrapper {
    height: 30vh !important;
  }
}
@media (max-width: 500px) {
  .hello .hello_img_wrapper {
    height: 20vh !important;
  }
}
.hello .hello_icons_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.hello .hello_icons_wrapper .hello_icon {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(1);
  transition: 0.3s;
}
@media (max-width: 500px) {
  .hello .hello_icons_wrapper .hello_icon {
    width: 25px;
  }
}
.hello .hello_icons_wrapper .hello_icon:hover {
  cursor: pointer;
}
.hello .hello_icons_wrapper .hello_icon_active {
  filter: none;
  transform: translateY(-15px);
  cursor: pointer;
}
@media (max-width: 500px) {
  .hello .hello_icons_wrapper {
    margin-top: 25px;
  }
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 305;
  display: grid;
  align-items: center;
  grid-template-columns: 7fr 5fr;
  transition: 0.5s;
}
@media (max-width: 1300px) {
  .content {
    grid-template-columns: 11fr 5fr;
  }
}
@media (max-width: 900px) {
  .content {
    display: flex !important;
    flex-direction: column-reverse !important;
    row-gap: 30px;
    padding-bottom: 3vw;
    justify-content: flex-start;
  }
}
.content .content_bg {
  width: 70vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 302;
  transition: 0.5s;
}
.content .content_bg .about_bg {
  width: 100%;
  height: 100%;
  background: #007f86;
}
.content .content_bg .skills_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: #c0786f;
}
.content .content_bg .projects_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: #9086c2;
}
.content .content_bg .basketball_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: #2830B5;
}
.content .content_bg .photography_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: #da658a;
}
@media (max-width: 1300px) {
  .content .content_bg {
    width: 75vw;
  }
}
@media (max-width: 1150px) {
  .content .content_bg {
    width: 80vw;
  }
}
@media (max-width: 900px) {
  .content .content_bg {
    width: 100vw;
  }
}
.content .content_info {
  display: flex;
  flex-direction: column;
  padding: 0 6vw 0 8vw;
  z-index: 304;
  transition: 0.5s;
  /*@media (max-height: 700px) {
    height: 40vh;
  }
  @media (max-width: 600px) {
    height: 35vh;
  }
  @media (max-width: 500px) {
    padding-top: 5vw;
  }
  @media (max-width: 410px) {
    padding: 5vw 3vw 0 3vw;
  }
  @media (max-width: 400px) {
    height: 40vh;
  }*/
}
@media (max-width: 1450px) {
  .content .content_info {
    padding: 0 6vw 0 5vw;
  }
}
@media (max-width: 900px) {
  .content .content_info {
    height: auto;
    justify-content: flex-end;
  }
}
.content .content_info .content_line_wrapper {
  height: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 4vh;
  z-index: 104;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .content .content_info .content_line_wrapper {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}
.content .content_info .content_line_wrapper .content_line_text {
  font-size: 1.2rem;
  font-family: "SF";
  color: white;
  letter-spacing: 1px;
  position: absolute;
  transition: 0.5s;
  left: -15px;
  top: -35px;
}
@media (max-width: 900px) {
  .content .content_info .content_line_wrapper .content_line_text {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  .content .content_info .content_line_wrapper .content_line_text {
    font-size: 1rem;
    top: -25px;
  }
}
.content .content_info .content_line_wrapper .content_line_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transition: 0.5s;
  z-index: 105;
}
@media (max-width: 600px) {
  .content .content_info .content_line_wrapper .content_line_dot {
    width: 8px;
    height: 8px;
  }
}
.content .content_info .content_line_wrapper .content_line {
  height: 1px;
  width: 25%;
  background: white;
  transition: 0.5s;
  z-index: 105;
}
.content .content_info .content_line_wrapper .dot_line_active {
  background: #e5ff52;
}
.content .content_info .content_opentag, .content .content_info .content_closetag {
  height: 1.5rem;
  overflow: hidden;
}
.content .content_info .content_opentag .about_opentag:first-of-type, .content .content_info .content_opentag .about_closetag:first-of-type, .content .content_info .content_closetag .about_opentag:first-of-type, .content .content_info .content_closetag .about_closetag:first-of-type {
  display: block;
}
.content .content_info .content_opentag span, .content .content_info .content_closetag span {
  display: none;
  font-size: 1rem;
  color: #BDDACD;
  font-family: "MonoidRegular";
  letter-spacing: 1px;
}
@media (max-width: 500px) {
  .content .content_info .content_opentag span, .content .content_info .content_closetag span {
    font-size: 0.8rem;
  }
}
@media (max-width: 900px) {
  .content .content_info .content_opentag, .content .content_info .content_closetag {
    overflow: visible;
  }
}
.content .content_info .content_title {
  height: 4rem;
  overflow: hidden;
  margin-top: 5vh;
  margin-left: 2vw;
}
.content .content_info .content_title h3 {
  display: none;
  font-size: 3rem;
  height: 3rem;
  color: white;
  font-family: "SF";
  letter-spacing: 1px;
}
@media (max-width: 1600px) {
  .content .content_info .content_title h3 {
    font-size: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 1150px) {
  .content .content_info .content_title h3 {
    font-size: 2.2rem;
    height: 2.2rem;
  }
}
@media (max-width: 600px) {
  .content .content_info .content_title h3 {
    font-size: 1.8rem;
    height: 1.8rem;
  }
}
@media (max-width: 500px) {
  .content .content_info .content_title h3 {
    font-size: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 400px) {
  .content .content_info .content_title h3:first-of-type {
    height: 4rem;
  }
}
@media (max-width: 1600px) {
  .content .content_info .content_title {
    height: 3.5rem;
  }
}
@media (max-width: 1150px) {
  .content .content_info .content_title {
    height: 3.2rem;
  }
}
@media (max-width: 900px) {
  .content .content_info .content_title {
    margin-top: 15px;
    overflow: visible;
    height: auto;
  }
}
.content .content_info .content_text {
  height: 20vh;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 5vh;
  margin-left: 2vw;
}
.content .content_info .content_text .about_text {
  display: none;
  font-size: 2rem;
  color: white;
  font-family: "SF";
  letter-spacing: 0.5px;
}
@media (max-width: 1600px) {
  .content .content_info .content_text .about_text {
    font-size: 1.5rem;
  }
}
@media (max-width: 1150px) {
  .content .content_info .content_text .about_text {
    font-size: 1.3rem;
  }
}
@media (max-width: 900px) {
  .content .content_info .content_text .about_text {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .content .content_info .content_text .about_text {
    font-size: 1.1rem;
  }
}
@media (max-width: 1150px) {
  .content .content_info .content_text {
    margin-bottom: 4vh;
  }
}
@media (max-width: 900px) {
  .content .content_info .content_text {
    height: auto !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.content .content_photo {
  width: 25vw;
  height: 500px;
  overflow: hidden;
  z-index: 304;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.content .content_photo img {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1450px) {
  .content .content_photo {
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .content .content_photo {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .content .content_photo {
    display: none !important;
  }
}
.content .content_mobile_photo {
  display: none;
  width: 80vw;
  height: 70%;
  overflow: hidden;
  z-index: 304;
  margin: auto;
  align-self: end;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.content .content_mobile_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: none;
}
@media (max-width: 900px) {
  .content .content_mobile_photo {
    display: block;
    margin-top: 15vh;
  }
}
@media (max-width: 700px) {
  .content .content_mobile_photo {
    margin-top: 10vh;
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .content .content_mobile_photo {
    height: 50vh;
  }
}
.content .project_slider {
  width: 48vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 990;
  position: relative;
}
@media (max-width: 900px) {
  .content .project_slider {
    width: 100vw;
    padding: 0 5vw 0 5vw;
  }
}
@media (max-width: 500px) {
  .content .project_slider {
    height: 50vh;
    padding: 0;
  }
}
.content .project_slider .project_slider_left, .content .project_slider .project_slider_right {
  width: 5vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  fill: white;
  z-index: 999;
}
@media (max-width: 500px) {
  .content .project_slider .project_slider_left, .content .project_slider .project_slider_right {
    width: 10vw;
  }
}
.content .project_slider .project_slider_wrapper {
  width: 100%;
  height: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.content .project_slider .project_slider_wrapper .project_slider_container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.94, -0.05, 0.42, 1.05);
  transform: translate3d(0px, 0px, 0px);
}
.content .project_slider .project_slider_wrapper .project_slider_container .project_slider_container_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 1500px) {
  .content .project_slider .project_slider_wrapper .project_slider_container .project_slider_container_img {
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 1400px) {
  .content .project_slider .project_slider_wrapper .project_slider_container .project_slider_container_img {
    height: auto;
  }
}
@media (max-width: 500px) {
  .content .project_slider .project_slider_wrapper .project_slider_container .project_slider_container_img {
    -o-object-position: left;
       object-position: left;
  }
}
@media (max-width: 1400px) {
  .content .project_slider .project_slider_wrapper .project_slider_container {
    height: auto;
  }
}
@media (max-width: 500px) {
  .content .project_slider .project_slider_wrapper .project_slider_container {
    height: 100%;
  }
}
.content .project_slider:hover {
  cursor: pointer;
}
.content .basketball {
  display: none;
  width: 45vw;
  height: auto;
  z-index: 990;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (max-width: 900px) {
  .content .basketball {
    width: 80vw;
  }
}
.content .basketball .basketball_video {
  width: 100%;
  height: auto;
}
.content .photography {
  width: 40vw;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
  flex-wrap: wrap;
  z-index: 990;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (max-width: 900px) {
  .content .photography {
    width: 90vw;
  }
}
@media (max-height: 700px) {
  .content .photography {
    height: 40vh;
  }
}
.content .photography .photography_img {
  width: 33.3334%;
  height: auto;
  transition: 0.4s;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content .photography::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.content .photography::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
@media (max-width: 900px) {
  .content .photography::-webkit-scrollbar {
    width: 5px;
  }
}
.content .photography::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.content .modalPhoto {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.63);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.content .modalPhoto .modalPhoto_close_wrapper {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 999;
}
@media (max-width: 1200px) {
  .content .modalPhoto .modalPhoto_close_wrapper {
    right: 50px;
    top: 50px;
  }
}
.content .modalPhoto .modalPhoto_close_wrapper .modalPhoto_close::before {
  content: "";
  position: absolute;
  right: 60px;
  left: 0;
  top: 0;
  height: 2px;
  width: 80px;
  background-color: white;
  transform: rotate(90deg);
  z-index: 999;
}
.content .modalPhoto .modalPhoto_close_wrapper .modalPhoto_close {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 80px;
  height: 2px;
  background: white;
  transform: rotate(-45deg);
}
.content .modalPhoto .modalPhoto_pc {
  width: auto;
  height: 100%;
}
.content .modalPhoto .modalPhoto_mobile {
  width: 90%;
  height: auto;
}
.content .contentAnimation_close {
  animation: ContentAnimationClose 1s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.content .contentAnimation_show {
  animation: ContentAnimationShow 1s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.content .contentAnimationText_show {
  animation: ContentAnimationTextShow 1s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}
.content .contentAnimationText_close {
  animation: ContentAnimationTextClose 1s forwards;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

.light {
  color: #e5ff52;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.contact {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 890;
}
.contact .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2e54c7, #4576df, #4c7fdd);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.contact .wave span {
  content: "";
  position: absolute;
  width: 550vh;
  height: 550vh;
  top: -120%;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.contact .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgb(20, 20, 20);
  animation: animate 5s linear infinite;
}
.contact .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.contact .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}
.contact .contact_content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact .contact_content h2 {
  font-size: 4em;
  letter-spacing: 2px;
  color: #e5ff52;
  font-family: "SF";
}
@media (max-width: 600px) {
  .contact .contact_content h2 {
    font-size: 3rem;
  }
}
.contact .contact_content .contact_line {
  height: 1px;
  width: 90%;
  background-color: white;
}
.contact .contact_content p {
  width: 80%;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: white;
  font-family: "SF";
  text-align: center;
}
@media (max-width: 600px) {
  .contact .contact_content p {
    font-size: 1.3rem;
  }
}
.contact .contact_content .contact_icons_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.contact .contact_content .contact_icons_wrapper .contact_icon_line {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  max-width: 40px;
  height: 40px;
  transition: 0.4s;
  cursor: pointer;
}
.contact .contact_content .contact_icons_wrapper .contact_icon_line .contact_icon {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.contact .contact_content .contact_icons_wrapper .contact_icon_line a {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  font-family: "SF";
  white-space: nowrap;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .contact .contact_content .contact_icons_wrapper .contact_icon_line a {
    font-size: 1.1rem;
  }
}
.contact .contact_content .contact_icons_wrapper .contact_icon_line:hover {
  max-width: 50vw;
}
@media (max-width: 500px) {
  .contact .contact_content .contact_icons_wrapper .contact_icon_line:hover {
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .contact .contact_content .contact_icons_wrapper {
    margin-top: 25px;
  }
}
.contact .contact_content .contact_icons_wrapper:hover > :not(:hover) {
  filter: opacity(0.4);
}
.contact h3 {
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.514);
  font-family: "SF";
  font-weight: 300;
}

.contact_icon_active {
  filter: none !important;
  transform: translateY(-15px);
  cursor: pointer;
}

.hobbies:hover > :not(:hover) {
  filter: blur(5px);
}

.main_active {
  animation: MainShow 1s forwards;
  transition-timing-function: cubic-bezier(0.1, 0.4, 1);
}

.main_close {
  animation: MainClose 1s forwards;
  transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

.hide_hello_img {
  animation: HideHelloImg 1s forwards;
  transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

.show_hello_img {
  animation: ShowHelloImg 1s forwards;
  transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

@keyframes Preloader {
  from {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke: red;
  }
  to {
    stroke-dashoffset: 0;
    stroke: green;
  }
}
@keyframes PreloaderImgJump {
  from {
    transform: translateY(180px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes PreloaderCheckShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textTypingShort {
  0% {
    width: 0;
  }
  2% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    width: 170px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PreloaderClickText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cursorClick {
  0% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: green;
  }
}
@keyframes HidePreloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes FlashText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeaderShow {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes NavButnBefore {
  from {
    transform: rotate(0deg) translateX(0px);
  }
  to {
    transform: rotate(90deg) translateX(8px);
  }
}
@keyframes NavButnAfter {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-8px);
  }
}
@keyframes NavWrapperRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(135deg);
  }
}
@keyframes NavButnBeforeClose {
  from {
    transform: rotate(90deg) translateX(8px);
  }
  to {
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes NavButnAfterClose {
  from {
    transform: translateX(-8px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes NavWrapperRotateClose {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes BurgerShow {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes BurgerClose {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes BigMenuLineShow {
  from {
    width: 0vw;
  }
  to {
    width: 15vw;
  }
}
@keyframes BigMenuLineClose {
  from {
    width: 15vw;
  }
  to {
    width: 0vw;
  }
}
@keyframes BigMenuContainerShow {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes BigMenuContainerClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes HelloTextShow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes HellImgShow {
  from {
    height: 0%;
    border-radius: 50%;
  }
  to {
    height: 100%;
    border-radius: 0%;
  }
}
@keyframes MainShow {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}
@keyframes MainClose {
  from {
    transform: translateY(0vh);
    height: 100vh;
  }
  to {
    transform: translateY(100vh);
    height: 0vh;
  }
}
@keyframes HideHelloImg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes ShowHelloImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ContentAnimationClose {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes ContentAnimationShow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes ContentAnimationTextClose {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes ContentAnimationTextShow {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */