@import './vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Grotesk';
    overflow: hidden;
}
figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;
}
h1 { font-size: $mobile-big-text; }
h2 {
    font-size: $large-text;
    font-weight: 500;
    color: $hide-menu-bg;
}
h3 { font-size: $md-text }
h4 { font-size: $sm-text; }
p {
    font-size: $sm-text;
    color: $hide-menu-bg;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article a {
    width: 31%;
}
.link {
    text-decoration: underline;
    color: inherit;
}
.link:hover { color: black;  }

.preview {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .preview-logo {
        width: 35vw;
        height: 25vw;
        background-image: url('img/logo.png');
        background-size: cover;
        opacity: .85;
        transition: ease;
        animation: Preview .4s ease-in;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }
}
.reel {
    width: 100%;
    height: 100vh;
    z-index: 1;
    .video {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100%;
    }
    .reel-time {
        position: absolute;
        bottom: 3vh;
        left: 0;
        color: white;
        font-size: $md-text;
        font-weight: 600;
        z-index: 999;
        transition: .3s;
        cursor: grab;
    }
}
// header class

.header {
    width: 100%;
    height: 100vh;
    background: none;
    display: flex;
    justify-content: center;
    position: relative;
    .header-cursor {
        position: absolute;
        left: 47%;
        top: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        opacity: 0;
        transform: translateY(10vh);
        animation: ItemShow .4s ease-in;
        animation-fill-mode: forwards;
        animation-delay: .9s;
        transition: .1s;
        .header-cursor-circle {
            width: 9vw;
            height: 9vw;
            background: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .header-cursor-circle-text {
                color: black;
                font-size: $md-text;
                font-weight: 800;
                width: 4vw;
                text-align: center;
            }
        }
        .header-cursor-text {
            color: rgb(31, 31, 31);
            font-size: $md-text;
            text-align: center;
            margin-top: 1vw;
            width: 9vw;
            font-weight: 800;
        }
    }
    .header-video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        .video {
            object-fit: cover;
            object-position: center top;
            width: 100%;
            height: 100%;
            transform: translateY(70vh);
            animation: VideoShow .4s ease-in;
            animation-fill-mode: forwards;
        }
    }
    .header-nav {
        width: $pc-width;
        height: 10%;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transform: translateY(10vh);
        animation: ItemShow .4s ease-in;
        animation-fill-mode: forwards;
        animation-delay: .9s;
        z-index: 999;
        margin-top: 5vh;
        .header-nav-logo {
            font-size: 1.3rem;
            color: $header-text;
            font-weight: 800;
        }
        .header-nav-links {
            display: flex;
            justify-content: space-between;
            .header-nav-link {
                font-size: $md-text;
                color: $header-text;
                cursor: pointer;
                padding-bottom: 2px;
                margin-right: 2vw;
            }
            .header-nav-link:hover {
                text-decoration: underline;
            }
        }
        .header-nav-menu {
            width: 2vw;
            display: flex;
            justify-content: space-between;
            margin-top: 1vh;
            transition: .2s;
            cursor: pointer;
            .header-svg-circle {
                width: .5vw;
                height: .5vw;
                border-radius: 50%;
                background: $header-text;
            }
        }
        .header-nav-menu:hover {
            width: 2.5vw;
        }
        .header-nav-sm-menu {
            display: none;
            color: $header-text;
            font-size: $md-text;
        }
    }
}

// hide menu class

.slider-circle-figure-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid $hide-menu-text;
    border-bottom: 8px solid transparent;
    margin-left: 100px;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.slider-circle-figure-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid $hide-menu-text;
    border-bottom: 8px solid transparent;
    margin-right: 100px;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.slider-circle {
    position: absolute;
    z-index: 999;
    left: 83vw;
    top: 20vw;
    width: 9vw;
    height: 9vw;
    background: $hide-menu-text;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    .slider-circle-text {
        color: black;
        font-size: $md-text;
        font-weight: 800;
        width: 4vw;
        text-align: center;
        user-select: none;
        cursor: none;
    }
}
.hide-menu {
    width: 100vw;
    height: 100vh;
    background: $hide-menu-bg;
    color: $hide-menu-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    .hide-menu-header {
        width: $pc-width;
        display: grid;
        grid-template-columns: 1.5fr 3fr 1fr;
        .hide-menu-header-text {
            font-size: $md-text;
        }
        .hide-menu-header-item {
            display: flex;
            justify-content: flex-end;
        }
        .hide-menu-header-close {
            width: 3vw;
            height: 3vw;
            background-image: url('img/close.png');
            background-size: cover;
            cursor: pointer;
        }
    }
    .slider {
        //width: $pc-width; 
        display: flex;
        justify-content: flex-start;
        margin-top: 3vw;
        user-select: none;
        pointer-events: none;
        z-index: 1;
        animation: SliderShow .5s ease-in;
        transform: translate3d(23vw, 0vw, 0vw);
        transition: 1s;
        .slider-content {
            width: 28vw;
            height: 30vw;
            display: flex;
            flex-direction: column;
            .slider-item {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-left: 1px solid $hide-menu-text;
                padding-left: 10px;
                padding-right: 10px;
                .slider-item-img {
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                    transition: .5s ease;
                }
                .slider-item-wrapper {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    background: $hide-menu-bg;
                    .slider-item-label {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 1vw;
                        .slider-item-label-name, .slider-item-label-year {
                            font-size: $large-text;
                            font-weight: 600;
                        }
                    }
                    .slider-item-text {
                        font-size: $sm-text;
                        margin-top: .5vw;
                    }
                    .slider-item-hide-text {
                        display: none;
                        font-size: $sm-text;
                        margin-top: .5vw;
                        transition: 1s ease;
                        transform: translateY(5vh);
                    }
                }
            }
            .slider-item-number {
                font-size: $sm-text;
                margin-top: 1vw;
            }
        }
    }
    .hide-menu-footer {
        width: $pc-width;
        display: flex;
        justify-content: space-between;
        margin-top: 4vw;
        .hide-menu-footer-text {
            font-size: $sm-text;
            color: $mute-white;
        }
    }
}
.slider-item-img-hover {
    width: 100%;
    height: 40%;
    object-fit: cover;
    transition: .5s ease;
}
.slider-item-hide-text-hover {
    display: block;
    font-size: $sm-text;
    margin-top: 1vw;
    color: $hide-menu-text;
    transform: translateY(3vh);
    animation: ItemShow .5s ease-in forwards;
    opacity: 0;
    p {
        color: $hide-menu-text !important;
        line-height: 1.2;
    }
    p:last-child {
        margin-top: .5vw;
    }
}
.hide-sm-menu {
    width: 100vw;
    height: 100vh;
    background: $hide-menu-bg;
    color: $hide-menu-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
    .hide-sm-menu-header {
        width: $pc-width;
        display: flex;
        justify-content: space-between;
        .hide-sm-menu-header-text {
            font-size: $large-text;
        }
        .hide-menu-header-close {
            width: 3vw;
            height: 3vw;
            background-image: url('img/close.png');
            background-size: cover;
            cursor: pointer;
        }
    }
    .hide-sm-menu-main {
        width: $pc-width;
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
        .hide-sm-menu-main-link {
            font-size: $large-text;
            margin-top: 2vw;
        }
        font-weight: 800;
    }
}

// main class

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works {
    width: $pc-width;
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
    .works-item {
        display: flex;
        flex-direction: column;
        width: 40%;
        .works-item-text {
            font-size: 2.2rem;
            font-weight: 300;
            letter-spacing: 1px;
            color: $hide-menu-bg;
        }
        .works-item-btn {
            width: 12vw;
            height: 2vw;
            border: 0.1rem solid $hide-menu-bg;
            background: none;
            color: $hide-menu-bg;
            font-size: .7rem;
            border-radius: 1.6rem;
            margin-top: 1.5vw;
            transition: .4s;
        }
        .works-item-btn:hover {
            background: $hide-menu-bg;
            color: white;
        }
    }
}
.company {
    width: $pc-width;
    display: flex;
    justify-content: space-between;
    margin-top: 6vw;
    .company-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        .company-item-wrapper {
            width: 100%;
            height: 35vw;
            overflow: hidden;
            .company-item-wrapper-img {
                width: 100%;
                height: 100%;
                transform: scale(1.1, 1.1);
                transition: .5s;
                object-fit: cover;
            }
            .company-item-wrapper-img:hover {
                transform: scale(1, 1);
            }
        }
        .company-item-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1vw;
            margin-top: 2vw;
        }
    }
}
.line {
    width: $pc-width;
    height: 2px;
    background: $mute;
    margin-top: 8vw;
}
.line-numbers {
    width: $pc-width;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-top: 1vw;
    color: $mute;
    h3 {
        display: flex;
        justify-content: flex-start;
    }
    h3:last-child {
        display: flex;
        justify-content: flex-end;
        margin-right: 3vw;
    }
}

.featured-label {
    width: $pc-width;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vw;
    .featured-label-text {
        font-size: $mobile-large-text;
    }
}
.featured-circle-figure-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid $hide-menu-text;
    border-bottom: 8px solid transparent;
    margin-left: 100px;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.featured-circle-figure-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid $hide-menu-text;
    border-bottom: 8px solid transparent;
    margin-right: 100px;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.featured-circle {
    position: absolute;
    z-index: 999;
    left: 83vw;
    top: 20vw;
    width: 9vw;
    height: 9vw;
    background: $hide-menu-text;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    .featured-circle-text {
        color: black;
        font-size: $md-text;
        font-weight: 800;
        width: 4vw;
        text-align: center;
        user-select: none;
        cursor: none;
    }
}
.featured {
    width: auto;
    left: 0;
    position: relative;
    overflow: hidden;
    transform: translate3d(18vw, 0px, 0px);
}
.featured-slider {
    display: flex;
    justify-content: flex-start;
    margin-top: 5vw;
    user-select: none;
    pointer-events: none;
    transition: 1s;
    position: relative;
    overflow-x: scroll;
    overflow: hidden;
    .featured-slider-item {
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 5vw;
        img {
            max-height: 5vh;
            width: auto;
            margin-bottom: 1vw;
        }
        h3::before {
            content: "";
            width: 2rem;
            height: 0.1rem;
            background-color: currentColor;
            position: absolute;
            left: 0;
            top: 0;
        }
        h3 {
            padding-top: 5rem;
            position: relative;
        }
    }
}
.featured-wrapper {
    width: $pc-width;
    height: 2px;
    background: $mute;
    position: relative;
    margin-top: 5vw;
    overflow: hidden    ;
    .featured-wrapper-line {
       width: 30%;
       height: 2px;
       background: $hide-menu-bg; 
       left: 0;
       top: 0;
    }
}