@keyframes Preview {
    to {
        transform: translateY(-20vw); 
        height: 0vw;
    }
}
@keyframes VideoShow {
    to { transform: translateY(0vh); }
}
@keyframes ItemShow {
    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}
@keyframes SliderShow {
    from {
        transform: translate3d(100vw, 0vw, 0vw);
    }
    to {
        transform: translate3d(23vw, 0vw, 0vw);
    }
}
