@media (min-width: 1600px) {
    .header-cursor-circle-text { font-size: 1.5rem !important; }
    .header-cursor-text { font-size: 1.5rem !important; }
    .works-item-btn { font-size: $md-text !important; }
    .company-item-text h2 {
        font-size: $fullhd-big;
    }
    .company-item-text p {
        font-size: $md-text;
    }
}
@media (max-width: 1280px) {
    .header-nav-sm-menu { display: block !important; }
    .header-nav-menu, .header-nav-links { display: none !important; }
}
@media (max-width: 1170px) {
    .help-text-label {
        font-size: 3rem !important;
    }
    .help {
        .help-text {
            .help-text-btn {
                width: 20vw;
                height: 4vw;
                font-size: 1.2rem;
            }
        }
    }
    .news .news-header .news-header-btn {
        width: 20vw;
        height: 4vw;
        font-size: 1.2rem;
    }
}
@media (max-width: 1000px) {
    .header-cursor-circle {
        width: 12vw !important;
        height: 12vw !important;
    }
    .header-cursor-circle-text { width: 5vw !important; }
    .header-cursor-text { width: 12vw !important; }
    .works { 
        flex-direction: column !important;
        align-items: center !important;
        .works-item { 
            width: $pc-width; 
            align-items: center;
            .works-item-text { text-align: center; }
            .works-item-btn {
                width: 24vw;
                height: 4vw;
                font-size: $md-text;
                margin-top: 4vw;
            }
        }
        .works-item:last-child { display: none; }
    }
    .company-item-text { width: 70% !important; }
    .featured { transform: translate3d(42vw, 0px, 0px); }
    .featured-slider-item { width: 30vw !important; }
    .featured-circle { display: none; }
    .help {
        .help-text {
            .help-text-btn {
                width: 15vw;
                height: 3vw;
                font-size: 1rem;
            }
        }
    }
    .news .news-header .news-header-btn {
        width: 15vw;
        height: 3vw;
        font-size: 1rem;
    }
    
}
@media (max-width: 800px) {
    .hide-menu-header-close {
        width: 5vw !important;
        height: 5vw !important;
    }
    .header-cursor-circle-text { font-size: $sm-text !important; }
    .works-item-btn { width: 30vw !important; height: 5vw !important; }
    .company { 
        flex-direction: column;
        align-items: center;
        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
        .company-item {
            width: $pc-width;
            align-items: center;
            margin-top: 4vw;
            .company-item-wrapper {
                width: $pc-width;
                height: 50vh;
            }
            .company-item-text {
                margin-left: 0vw;
                margin-top: 1vw;
                align-items: center;
                width: $pc-width;
                h2 {
                    font-size: $mobile-big-text;
                    margin-top: 2vw;
                }
                p {
                    font-size: $large-text;
                    text-align: center;
                }
            }
        }
    }
    .help {
        flex-direction: column;
        align-items: center;
        .help-text {
            width: $pc-width;
            font-size: 4rem;
            align-items: center;
            .help-text-label { text-align: center; }
            .help-text-btn {
                width: 20vw;
                height: 5vw;
            }
        }
        .help-video {
            width: $pc-width;
            margin-top: 3vw;
        }
    }
    .news {
        .news-header {
            .news-header-btn {
                width: 20vw;
                height: 5vw;
            }
        }
        .news-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .news-item-wrapper {
                width: 100%;
                height: 60vw;
                position: relative;
                .news-item-wrapper-img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                }
            }
            .news-item-text {
                width: 100%;
                margin-top: 3vw;
                span {
                    margin-top: 6vw;
                }
            }
            .news-item-arrow {
                position: absolute;
                right: 0;
                bottom: 0;
                top: auto;
            }
        }
    }
}
@media (max-width: 660px) {
    .header-cursor-circle {
        width: 15vw !important;
        height: 15vw !important;
    }
    .header-cursor-circle-text { width: 7vw !important; }
    .header-cursor-text { width: 15vw !important; color: white !important; }
    .works-item-btn { width: 35vw !important; height: 7vw !important; }
    .header-sm-preview { visibility: visible !important; }
    .header-video { visibility: hidden !important; }
}
@media (max-width: 600px) {
    .featured { transform: translate3d(67vw, 0px, 0px); }
    .featured-slider-item { width: 40vw !important; }
}
@media (max-width: 530px) {
    .header-cursor { left: 40% !important; }
    .header-cursor-circle {
        width: 20vw !important;
        height: 20vw !important;
    }
    .header-cursor-text { width: 30vw !important; }
    .header-cursor-circle-text { width: 20vw !important; }
    .works {
        .works-item {
            .works-item-text {
                font-size: $mobile-large-text;
            }
            .works-item-btn {
                font-size: $sm-text;
            }
        }
    }
    .help-text-btn {
        width: 25vw !important;
        height: 6vw !important;
    }
    .news .news-header .news-header-btn {
        width: 25vw;
        height: 6vw;
    }
}
@media (max-width: 450px) {
    .hide-menu-header-close {
        width: 7vw !important;
        height: 7vw !important;
    }
    .company-item-wrapper {
        height: 35vh !important;
    }
    .featured { transform: translate3d(92vw, 0px, 0px); }
    .featured-slider-item { width: 50vw !important; }
    .help-text-label {
        font-size: 2rem !important;
    }
    .help-text-btn {
        width: 33vw !important;
        height: 8vw !important;
    }
    .news .news-header .news-header-btn {
        width: 33vw;
        height: 8vw;
    }
}
@media (max-width: 370px) {
    .works-item-btn {
        width: 43vw !important;
        height: 10vw !important;
    }
}
