// fonts

@font-face {
    font-family: 'Grotesk';
    src: url("fonts/SctoGroteskA-Bold.woff2");
}

//sizes

$pc-width: 90%; 

// colors

$header-text: white;
$hide-menu-text: #f9cdcd;
$hide-menu-bg: #252422;