@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@keyframes effect{
    0%{
        transform: scaleX(1.0) scaleY(1.0);
    }
    50% {
        transform: scaleX(1.05) scaleY(1.05);
    }
    100% {
        transform: scaleX(1.0) scaleY(1.0);
    }
    }
body {
    background-color: black;
}
.field {
    text-align: center;
    margin-top: 80px;
}
.field2 {
    text-align: center;
    margin-top: 40px;
}
.buckets {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    color: white;
}
.play {
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: white;
    font-size: 60px;
    color: black;
    font-weight: 500;
    margin-top: 100px;
    cursor: pointer;
    animation: effect 1s infinite linear;
}
.code {
    display: inline-block;
    width: 260px;
    height: 80px;
    background-color: white;
    font-size: 50px;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
    cursor: pointer;
}