* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100vh;
}
// Прелоадер 
.preloader_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  animation: HidePreloader 1s forwards;
  animation-delay: 4s;
  .preloader {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .preloader_logo {
      width: 200px;
      height: 200px;
      object-fit: cover;
      z-index: 20;
      opacity: 0;
      transform: translateY(180px);
      animation: PreloaderImgJump 3s  alternate;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

      animation-fill-mode: forwards;
    }
    .preloader_check {
      width: 200px;
      height: 200px;
      object-fit: cover;
      z-index: 20;
      display: none;
      opacity: 0;
      animation: PreloaderCheckShow 1s alternate;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

      animation-fill-mode: forwards;
    }
    .preloader_border {
      width: 220px;
      height: 220px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 30;
      .preloader_circle {
        stroke: red;
        stroke-width: 10px;
        cx: 110px;
        cy: 110px;
        r: 100px;
        fill: transparent;
        transform-origin: center;
        transform: rotate(-90deg);
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: Preloader 4s alternate;
        transition-timing-function: cubic-bezier(0.3, 0.4, 1);

        animation-fill-mode: forwards;
      }
    }
  }
  .preloader_text {
    font-family: 'OverpassThin';
    font-size: 1.8rem;
    color: black;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    border-right: 3px solid green;
    padding-right: 5px;
    animation: textTypingShort 1.5s steps(25), cursorClick .75s step-end infinite;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    white-space: nowrap; /* не переносить текст на новую строку */
    overflow: hidden; /* скрываем переполнение контентом */
  }
}

// Шапка
.header {
  width: 100vw;
  height: 150px;
  display: none;
  opacity: 0;
  animation: HeaderShow .8s forwards;
  transform: translateY(-200px);
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4vw 0px 4vw;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  @media (max-width: 1100px) {
    height: 100px;
  }
  @media (max-width: 500px) {
    padding: 0px 8vw 0px 8vw;
  }
  .header_logo {
    width: 6vw;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    @media (max-width: 1300px) {
      width: 70px;
    }
  }
  .header_menuBtn_wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: cubic-bezier(0.3, 0.4, 1);
    cursor: pointer;
    @media (max-width: 700px) {
      width: 70px;
      height: 70px;
    }
    @media (max-width: 500px) {
      width: 50px;
      height: 50px;
    }
    .header_menuBtn {
      height: 1px;
      width: 100%;
      position: relative;
      background: black;
      transform-origin: center center;
      cursor: pointer;
    }
    .header_menuBtn::after {
      content: "";
      height: 1px;
      width: 100%;
      background: black;
      top: 8px;
      position: absolute;
      left: 0;
      cursor: pointer;
    }
    .header_menuBtn::before {
      content: "";
      height: 1px;
      width: 100%;
      background: black;
      top: -8px;
      position: absolute;
      left: 0;
      cursor: pointer;
    }
  }
  
  // класс open, close, dark, light, необходимый для анимации кнопки меню
  .open::before {
    animation: NavButnBefore 1s forwards;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .open::after {
    height: 0px !important;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .open {
    animation: NavButnAfter 1s forwards;
    transition: transform 0.8s  cubic-bezier(0.3, 0.4, 1);
  }
  .close::before {
    animation: NavButnBeforeClose 1s forwards;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .close::after {
    height: 1px !important;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .close {
    animation: NavButnAfterClose 1s forwards;
    transition: transform 0.8s  cubic-bezier(0.3, 0.4, 1);
  }
  .dark, .dark::before, .dark::after { background: white !important; }
  .light, .light::before, .light::after { background: black !important; }
}

// Бургер меню
.burgerMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateX(100vw);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: black;
  animation: none;
  transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  z-index: 900;
  padding-bottom: 15vh;
  @media (max-width: 900px) {
    align-items: center;
    padding-bottom: 0vh;
  }
  .bigMenu {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 8rem 0rem 8rem;
    @media (max-width: 1200px) {
      padding: 0rem 4rem 0rem 4rem;
    }
    @media (max-width: 900px) {
      display: none;
    }
    .bigMenu_header {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      .bigMenu_header_item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .bigMenu_header_item_num {
          color: #565656;
          font-size: 1rem;
          font-family: 'FiraCode';
          letter-spacing: 1.5px;
          margin-bottom: 15px;
        }
        .bigMenu_header_item_numActive {color: white !important;}
        .bigMenu_header_item_line {
          height: 1px;
          width: 0vw;
          background: #565656;
          margin-right: 3vw;
          position: relative;
        }
        .bigMenu_header_item_line::after {
          height: 1px;
          width: 0vw;
          background: white;
          content: " ";
          position: absolute;
          left: 0;
          top: -1px;
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
        }
        .bigMenu_header_item_lineActive::after {animation: BigMenuLineShow .8s forwards;}
        .bigMenu_header_item_lineShow {
          animation: BigMenuLineShow .4s forwards;
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          animation-delay: .3s;
        }
        .bigMenu_header_item_lineClose {
          animation: BigMenuLineClose .4s forwards;
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
        }
      }
    }
    .bigMenu_container {
      width: 100%;
      height: 40vh;
      .bigMenu_container_show {
        transform: translateY(60px); 
        opacity: 0;
        animation: BigMenuContainerShow .4s forwards;
        transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      }
      .bigMenu_container_close {
        opacity: 1;
        animation: BigMenuContainerClose .4s forwards;
        transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      }
      .bigMenu_container_hello {
        width: 60%;
        height: 100%;
        border: 1px solid #565656;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 5rem 0rem 5rem;
        .bigMenu_container_hello_title {
          color: #565656;
          font-size: 1rem;
          font-family: 'FiraCode';
          letter-spacing: 1.5px;
        }
        .bigMenu_container_hello_text1, .bigMenu_container_hello_text2 {
          font-family: 'FiraCode';
          letter-spacing: 1.5px;
        }
        .bigMenu_container_hello_text1 { color: #c0c0c0; margin-top: 60px; font-size: 3rem; }
        .bigMenu_container_hello_text2 { color: #707070; font-size: 2rem; }
      }
      .bigMenu_container_about, .bigMenu_container_skills {
        width: 60%;
        height: 100%;
        border: 1px solid #565656;
        border-radius: 5px;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 5rem 0rem 5rem;
        @media (max-width: 1800px) {
          width: 80%;
        }
        @media (max-width: 1200px) {
          width: 90%;
        }
        @media (max-width: 1000px) {
          width: 100%;
        }
        .bigMenu_container_about_img, .bigMenu_container_skills_img {
          width: auto;
          height: 30vh;
          object-fit: cover;
          transform: scale(1.1, 1.1);
          cursor: pointer;
          border-radius: 5%;
        }
        .bigMenu_container_about_text, .bigMenu_container_skills_text {
          display: flex;
          flex-direction: column;
          width: 50%;
          h3 {
            font-size: 2.5rem;
            color: #c0c0c0;
            font-family: 'FiraCode';
            letter-spacing: 1.5px;
            @media (max-width: 1400px) {
              font-size: 2rem;
            }
          }
          p {
            color: #707070; 
            font-size: 1.2rem;
            font-family: 'FiraCode';
            letter-spacing: 1.5px;
            margin-top: 15px;
            @media (max-width: 1400px) {
              font-size: 1rem;
            }
          }
        }
      }
      .bigMenu_slider_right, .bigMenu_slider_left {
        width: 5vw;
        height: 5vw;
        display: none;
        justify-content: center;
        align-items: center;
        background: #aaaaaa3d;
        border-radius: 20% 5% 20% 5%;
        transition: .5s;
        position: absolute;
        top: 60%;
        cursor: pointer;
        z-index: 999;
        .bigMenu_slider_right_arrow, .bigMenu_slider_left_arrow {
          width: 80%;
          height: auto;
        }
      }
      .bigMenu_slider_right { right: 30px; }
      .bigMenu_slider_left { left: 30px; }
      .bigMenu_slider_right:hover, .bigMenu_slider_left:hover { background: #aaaaaa71; }
      .bigMenu_container_projects {
        width: 90%;
        margin: auto; // ОЧЕНЬ СТРЁМНО
        display: none;
        overflow: hidden;
        .bigMenu_container_projects_slider {
          width: 100%;
          display: flex;
          gap: 30px;
          position: relative;
          z-index: 900;
          transition: 1s;
          transform: translate3d(0px, 0px, 0px);
          .bigMenu_container_projects_card {
            width: auto;
            height: 40vh;
            cursor: pointer;
            transition: .8s;
            img {
              width: 15vw;
              height: 40vh;
              object-fit: cover;
              object-position: left;
              transition: 1s;
            }
            img:hover {
              width: 35vw;
              @media (max-width: 1400px) {
                width: 50vw;
              }
            }
          }
        }
      }
      .bigMenu_container_projects_slider:hover > :not(:hover) {
        opacity: .4;
      }
    }
  }
  .mobileMenu {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media (max-width: 900px) {
      display: flex;
    }
    .mobileMenu_link {
      font-size: 2rem;
      color: #c0c0c0;
      font-family: 'FiraCode';
      letter-spacing: 1.5px;
    }
    .mobileMenu_link_active { color: white; }
  }
}

// main
.main {
  display: none;
}

// Первый блок - hello
.hello {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8vw 0 8vw;
  position: relative;
  z-index: 100;
  @media (max-width: 1100px) {
    align-items: center;
    //justify-content: flex-end;
    padding: 0;
  }
  .hello_smtext_wrapper {
    height: 2rem;
    .hello_smtext {
      height: 0%;
      font-size: 1rem;
      animation: HelloTextShowSmText .8s forwards;
      transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      overflow: hidden;
      font-family: 'MonoidRegular';
      letter-spacing: 1px;
      color: #848484;
      font-weight: 600;
      @media (max-width: 1400px) and (min-height: 800px) {
        font-size: .9rem;
      }
      @media (max-width: 1300px) {
        font-size: .9rem;
      }
      @media (max-width: 800px) {
        font-size: .8rem;
      }
      @media (max-width: 500px) {
        font-size: .7rem;
      }
      @media (max-width: 410px) {
        font-size: .6rem;
      }
    }
    @media (max-width: 1400px) and (min-height: 800px) {
      height: 1.5rem;
    }
    @media (max-width: 1300px) {
      height: 1.5rem;
    }
    @media (max-width: 800px) {
      height: 1.4rem;
    }
    @media (max-width: 500px) {
      height: 1.3rem;
    }
    @media (max-width: 410px) {
      height: 1.2rem;
    }
  }
  .hello_bgtext_black_wrapper {
    height: 5rem;
    .hello_bgtext_black {
      font-size: 4rem;
      height: 0%;
      font-family: 'SF';
      letter-spacing: 2px;
      color: black;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.356),0 0 2px rgba(0, 0, 0, 0.356),0 0 2px rgba(0, 0, 0, 0.356),0 0 2px rgba(0, 0, 0, 0.356);
      font-weight: 800;
      animation: HelloTextShow .8s forwards;
      transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      animation-delay: .1s;
      overflow: hidden;
      position: relative;
      @media (max-width: 1400px) and (min-height: 800px) {
        font-size: 3rem;
      }
      @media (max-width: 1300px) {
        font-size: 3rem;
      }
      @media (max-width: 800px) {
        font-size: 2.5rem;
      }
      @media (max-width: 500px) {
        font-size: 2rem;
      }
      @media (max-width: 420px) {
        font-size: 1.7rem;
      }
    }
    @media (max-width: 1400px) and (min-height: 800px) {
      height: 4rem;
    }
    @media (max-width: 1300px) {
      height: 4rem;
    }
    @media (max-width: 800px) {
      height: 3.5rem;
    }
    @media (max-width: 500px) {
      height: 3rem;
    }
    @media (max-width: 410px) {
      height: 2.7rem;
    }
  }
  .hello_bgtext_mute_wrapper {
    height: 4rem;
    .hello_bgtext_mute {
      font-size: 3rem;
      font-family: 'SF';
      letter-spacing: 1.5px;
      color: #848484;
      opacity: .8;
      height: 0%;
      animation: HelloTextShow .8s forwards;
      transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      animation-delay: .2s;
      overflow: hidden;
      @media (max-width: 1400px) and (min-height: 800px) {
        font-size: 2rem;
      }
      @media (max-width: 1300px) {
        font-size: 2rem;
      }
      @media (max-width: 800px) {
        font-size: 1.5rem;
      }
      @media (max-width: 500px) {
        font-size: 1rem;
      }
      @media (max-width: 410px) {
        font-size: .8rem;
      }
    }
    @media (max-width: 1400px) and (min-height: 800px) {
      height: 3rem;
    }
    @media (max-width: 1300px) {
      height: 3rem;
    }
    @media (max-width: 800px) {
      height: 2.5rem;
    }
    @media (max-width: 800px) {
      height: 2rem;
    }
    @media (max-width: 410px) {
      height: 1.8rem;
    }
  }
  .hello_img_wrapper {
    height: 70vh;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    a .hello_img {      
      height: 0%;
      object-fit: cover;
      animation: HellImgShow .8s forwards;
      transition-timing-function: cubic-bezier(0.3, 0.4, 1);
      @media (max-width: 900px) {
        object-fit: contain;
        height: 100%;
        width: auto;
      }
    }
    @media (max-width: 1700px) {
      height: 60vh !important;
    }
    @media (min-height: 900px) and (max-width: 1500px) {
      height: 50vh !important;
    }
    @media (max-width: 1100px) {
      display: none;
    }
  }
  .hello_icons_wrapper {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    .hello_icon {
        width: 40px;
        height: auto;
        object-fit: contain;
        filter: grayscale(1);
        transition: .3s;
        @media (max-width: 500px) {
          width: 25px;
        }
    }
    .hello_icon:hover {cursor: pointer;}
    .hello_icon_active {
      filter: none;
      transform: translateY(-15px);
      cursor: pointer;
    }
    @media (max-width: 500px) {
      margin-top: 25px;
    }
  }
}

// Второй блок - about
.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 101;
  display: grid;
  align-items: center;
  grid-template-columns: 7fr 5fr;
  @media (max-width: 1300px) {
    grid-template-columns: 9fr 5fr;
  }
  @media (max-width: 1150px) {
    grid-template-columns: 11fr 5fr;
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  .content_bg {
    width: 70vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
    .about_bg {
      width: 100%;
      height: 100%;
      background: #007f86;
    }
    @media (max-width: 1300px) {
      width: 75vw;
    }
    @media (max-width: 1150px) {
      width: 80vw;
    }
    @media (max-width: 900px) {
      width: 100vw;
    }
  }
  .content_info {
    display: flex;
    flex-direction: column;
    padding: 0 6vw 0 8vw;
    z-index: 104;
    @media (max-width: 1450px) {
      padding: 0 6vw 0 5vw;
    }
    @media (max-width: 410px) {
      padding: 0 3vw 0 3vw;
    }
    .content_line {
      height: 1px;
      width: 100%;
      position: relative;
      margin-bottom: 4vh;
      background: white;
      z-index: 104;
      @media (max-width: 900px) {
        display: none;
      }
      .content_line_text {
        font-size: 1.2rem;
        font-family: 'SF';
        color: #BDDACD;
        letter-spacing: 1px;
        position: absolute;
        left: -15px;
        top: -35px;
      }
      .content_line_dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        position: absolute;
        left: 0;
        top: -5px;
        transition: .5s;
        z-index: 105;
      }
    }
    .content_opentag, .content_closetag {
      height: 1.5rem;
      overflow: hidden;
      span {
        font-size: 1rem;
        color: #BDDACD;
        font-family: 'MonoidRegular';
        letter-spacing: 1px;
        @media (max-width: 500px) {
          font-size: .8rem;
        }
      }
    }
    .content_title {
      height: 4rem;
      overflow: hidden;
      margin-top: 5vh;
      margin-left: 2vw;
      h3 {
        font-size: 3rem;
        color: white;
        font-family: 'SF';
        letter-spacing: 1px;
        @media (max-width: 1600px) {
          font-size: 2.5rem;
        }
        @media (max-width: 1150px) {
          font-size: 2.2rem;
        }
        @media (max-width: 600px) {
          font-size: 1.8rem;
        }
        @media (max-width: 500px) {
          font-size: 1.5rem;
        }
      }
      @media (max-width: 1600px) {
        height: 3.5rem;
      }
      @media (max-width: 1150px) {
        height: 3.2rem;
      }
      @media (max-width: 900px) {
        margin-top: 15px;
      }
      @media (max-width: 600px) {
        height: 2.8rem;
      }
      @media (max-width: 500px) {
        height: 2.5rem;
      }
      @media (max-width: 380px) {
        height: 5rem;
      }
    }
    .content_text {
      height: 20vh;
      overflow: hidden;
      margin-top: 50px;
      margin-bottom: 5vh;
      margin-left: 2vw;
      p {
        font-size: 2rem;
        color: white;
        font-family: 'SF';
        letter-spacing: .5px;
        @media (max-width: 1600px) {
          font-size: 1.5rem;
        }
        @media (max-width: 1150px) {
          font-size: 1.3rem;
        }
        @media (max-width: 500px) {
          font-size: 1.1rem;
        }
      }
      @media (max-width: 1150px) {
        height: 15vh;
        margin-top: 25px;
        margin-bottom: 4vh;
      }
      @media (max-width: 900px) {
        margin-top: 15px;
        margin-bottom: 20px;
        height: 10vh;
      }
      @media (max-width: 660px) {
        height: 20vh;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .content_photo {
    width: 25vw;
    height: 500px;
    overflow: hidden;
    z-index: 103;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    @media (max-width: 1450px) {
      height: 400px;
    }
    @media (max-width: 1200px) {
      height: 300px;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  .content_mobile_photo {
    display: none;
    width: 80vw;
    height: 40vh;
    overflow: hidden;
    z-index: 103;
    margin: auto;
    align-self: end;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    @media (max-width: 900px) {
      display: block;
      padding-top: 8vh;
    }
  }
}
.skills {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: gray;
  color: white;
  position: relative;
  z-index: 102;
  //transform: translateY(100vh);;
}
.main_active {
  animation: MainShow 1s forwards;
  transition-timing-function: cubic-bezier(0.1, 0.4, 1);
}
.main_close {
  animation: MainClose 1s forwards;
  transition-timing-function: cubic-bezier(1, .06, .62, .51);
}
.hide_hello_img {
  animation: HideHelloImg 1s forwards;
  transition-timing-function: cubic-bezier(1, .06, .62, .51);
}
.show_hello_img {
  animation: ShowHelloImg 1s forwards;
  transition-timing-function: cubic-bezier(1, .06, .62, .51);
}