@charset "UTF-8";
@font-face {
  font-family: 'OverpassThin';
  src: url("./fonts/Overpass-Thin.ttf");
}

@font-face {
  font-family: 'OverpassBold';
  src: url("./fonts/Overpass-SemiBold.ttf");
}

@font-face {
  font-family: 'MonoidRegular';
  src: url("./fonts/Monoid-Regular.ttf");
}

@font-face {
  font-family: 'MonoidBold';
  src: url("./fonts/Monoid-Bold.ttf");
}

@font-face {
  font-family: 'FiraCode';
  src: url("./fonts/FiraCode.ttf");
}

@font-face {
  font-family: 'SF';
  src: url("./fonts/SFPro.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

.preloader_wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-animation: HidePreloader 1s forwards;
          animation: HidePreloader 1s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.preloader_wrapper .preloader {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.preloader_wrapper .preloader .preloader_logo {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  opacity: 0;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
  -webkit-animation: PreloaderImgJump 3s  alternate;
          animation: PreloaderImgJump 3s  alternate;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_wrapper .preloader .preloader_check {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  display: none;
  opacity: 0;
  -webkit-animation: PreloaderCheckShow 1s alternate;
          animation: PreloaderCheckShow 1s alternate;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_wrapper .preloader .preloader_border {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}

.preloader_wrapper .preloader .preloader_border .preloader_circle {
  stroke: red;
  stroke-width: 10px;
  cx: 110px;
  cy: 110px;
  r: 100px;
  fill: transparent;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: Preloader 4s alternate;
          animation: Preloader 4s alternate;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.preloader_wrapper .preloader_text {
  font-family: 'OverpassThin';
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  border-right: 3px solid green;
  padding-right: 5px;
  -webkit-animation: textTypingShort 1.5s steps(25), cursorClick 0.75s step-end infinite;
          animation: textTypingShort 1.5s steps(25), cursorClick 0.75s step-end infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  white-space: nowrap;
  /* не переносить текст на новую строку */
  overflow: hidden;
  /* скрываем переполнение контентом */
}

.header {
  width: 100vw;
  height: 150px;
  display: none;
  opacity: 0;
  -webkit-animation: HeaderShow .8s forwards;
          animation: HeaderShow .8s forwards;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 4vw 0px 4vw;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

@media (max-width: 1100px) {
  .header {
    height: 100px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0px 8vw 0px 8vw;
  }
}

.header .header_logo {
  width: 6vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .header .header_logo {
    width: 70px;
  }
}

.header .header_menuBtn_wrapper {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  cursor: pointer;
}

@media (max-width: 700px) {
  .header .header_menuBtn_wrapper {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .header .header_menuBtn_wrapper {
    width: 50px;
    height: 50px;
  }
}

.header .header_menuBtn_wrapper .header_menuBtn {
  height: 1px;
  width: 100%;
  position: relative;
  background: black;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  cursor: pointer;
}

.header .header_menuBtn_wrapper .header_menuBtn::after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  top: 8px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.header .header_menuBtn_wrapper .header_menuBtn::before {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  top: -8px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.header .open::before {
  -webkit-animation: NavButnBefore 1s forwards;
          animation: NavButnBefore 1s forwards;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .open::after {
  height: 0px !important;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .open {
  -webkit-animation: NavButnAfter 1s forwards;
          animation: NavButnAfter 1s forwards;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .close::before {
  -webkit-animation: NavButnBeforeClose 1s forwards;
          animation: NavButnBeforeClose 1s forwards;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .close::after {
  height: 1px !important;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .close {
  -webkit-animation: NavButnAfterClose 1s forwards;
          animation: NavButnAfterClose 1s forwards;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.3, 0.4, 1), -webkit-transform 0.8s cubic-bezier(0.3, 0.4, 1);
}

.header .dark, .header .dark::before, .header .dark::after {
  background: white !important;
}

.header .light, .header .light::before, .header .light::after {
  background: black !important;
}

.burgerMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: black;
  -webkit-animation: none;
          animation: none;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  z-index: 900;
  padding-bottom: 15vh;
}

@media (max-width: 900px) {
  .burgerMenu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0vh;
  }
}

.burgerMenu .bigMenu {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 8rem 0rem 8rem;
}

@media (max-width: 1200px) {
  .burgerMenu .bigMenu {
    padding: 0rem 4rem 0rem 4rem;
  }
}

@media (max-width: 900px) {
  .burgerMenu .bigMenu {
    display: none;
  }
}

.burgerMenu .bigMenu .bigMenu_header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_num {
  color: #565656;
  font-size: 1rem;
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_numActive {
  color: white !important;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_line {
  height: 1px;
  width: 0vw;
  background: #565656;
  margin-right: 3vw;
  position: relative;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_line::after {
  height: 1px;
  width: 0vw;
  background: white;
  content: " ";
  position: absolute;
  left: 0;
  top: -1px;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineActive::after {
  -webkit-animation: BigMenuLineShow .8s forwards;
          animation: BigMenuLineShow .8s forwards;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineShow {
  -webkit-animation: BigMenuLineShow .4s forwards;
          animation: BigMenuLineShow .4s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.burgerMenu .bigMenu .bigMenu_header .bigMenu_header_item .bigMenu_header_item_lineClose {
  -webkit-animation: BigMenuLineClose .4s forwards;
          animation: BigMenuLineClose .4s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

.burgerMenu .bigMenu .bigMenu_container {
  width: 100%;
  height: 40vh;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_show {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
  -webkit-animation: BigMenuContainerShow .4s forwards;
          animation: BigMenuContainerShow .4s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_close {
  opacity: 1;
  -webkit-animation: BigMenuContainerClose .4s forwards;
          animation: BigMenuContainerClose .4s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello {
  width: 60%;
  height: 100%;
  border: 1px solid #565656;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 5rem 0rem 5rem;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_title {
  color: #565656;
  font-size: 1rem;
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text1, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text2 {
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text1 {
  color: #c0c0c0;
  margin-top: 60px;
  font-size: 3rem;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_hello .bigMenu_container_hello_text2 {
  color: #707070;
  font-size: 2rem;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
  width: 60%;
  height: 100%;
  border: 1px solid #565656;
  border-radius: 5px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 5rem 0rem 5rem;
}

@media (max-width: 1800px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills {
    width: 100%;
  }
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_img, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_img {
  width: auto;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  cursor: pointer;
  border-radius: 5%;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text h3 {
  font-size: 2.5rem;
  color: #c0c0c0;
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
}

@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text h3, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text h3 {
    font-size: 2rem;
  }
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text p {
  color: #707070;
  font-size: 1.2rem;
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
  margin-top: 15px;
}

@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_about .bigMenu_container_skills_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_about_text p, .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_skills .bigMenu_container_skills_text p {
    font-size: 1rem;
  }
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left {
  width: 5vw;
  height: 5vw;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #aaaaaa3d;
  border-radius: 20% 5% 20% 5%;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 60%;
  cursor: pointer;
  z-index: 999;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right .bigMenu_slider_right_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right .bigMenu_slider_left_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left .bigMenu_slider_right_arrow, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left .bigMenu_slider_left_arrow {
  width: 80%;
  height: auto;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right {
  right: 30px;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left {
  left: 30px;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_right:hover, .burgerMenu .bigMenu .bigMenu_container .bigMenu_slider_left:hover {
  background: #aaaaaa71;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects {
  width: 90%;
  margin: auto;
  display: none;
  overflow: hidden;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 900;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card {
  width: auto;
  height: 40vh;
  cursor: pointer;
  -webkit-transition: .8s;
  transition: .8s;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img {
  width: 15vw;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  -webkit-transition: 1s;
  transition: 1s;
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img:hover {
  width: 35vw;
}

@media (max-width: 1400px) {
  .burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects .bigMenu_container_projects_slider .bigMenu_container_projects_card img:hover {
    width: 50vw;
  }
}

.burgerMenu .bigMenu .bigMenu_container .bigMenu_container_projects_slider:hover > :not(:hover) {
  opacity: .4;
}

.burgerMenu .mobileMenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .burgerMenu .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burgerMenu .mobileMenu .mobileMenu_link {
  font-size: 2rem;
  color: #c0c0c0;
  font-family: 'FiraCode';
  letter-spacing: 1.5px;
}

.burgerMenu .mobileMenu .mobileMenu_link_active {
  color: white;
}

.main {
  display: none;
}

.hello {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8vw 0 8vw;
  position: relative;
  z-index: 100;
}

@media (max-width: 1100px) {
  .hello {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.hello .hello_smtext_wrapper {
  height: 2rem;
}

.hello .hello_smtext_wrapper .hello_smtext {
  height: 0%;
  font-size: 1rem;
  -webkit-animation: HelloTextShowSmText .8s forwards;
          animation: HelloTextShowSmText .8s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  overflow: hidden;
  font-family: 'MonoidRegular';
  letter-spacing: 1px;
  color: #848484;
  font-weight: 600;
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: .9rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: .9rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: .8rem;
  }
}

@media (max-width: 500px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: .7rem;
  }
}

@media (max-width: 410px) {
  .hello .hello_smtext_wrapper .hello_smtext {
    font-size: .6rem;
  }
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_smtext_wrapper {
    height: 1.5rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_smtext_wrapper {
    height: 1.5rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_smtext_wrapper {
    height: 1.4rem;
  }
}

@media (max-width: 500px) {
  .hello .hello_smtext_wrapper {
    height: 1.3rem;
  }
}

@media (max-width: 410px) {
  .hello .hello_smtext_wrapper {
    height: 1.2rem;
  }
}

.hello .hello_bgtext_black_wrapper {
  height: 5rem;
}

.hello .hello_bgtext_black_wrapper .hello_bgtext_black {
  font-size: 4rem;
  height: 0%;
  font-family: 'SF';
  letter-spacing: 2px;
  color: black;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356), 0 0 2px rgba(0, 0, 0, 0.356);
  font-weight: 800;
  -webkit-animation: HelloTextShow .8s forwards;
          animation: HelloTextShow .8s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 3rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .hello .hello_bgtext_black_wrapper .hello_bgtext_black {
    font-size: 1.7rem;
  }
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_black_wrapper {
    height: 4rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_bgtext_black_wrapper {
    height: 4rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_bgtext_black_wrapper {
    height: 3.5rem;
  }
}

@media (max-width: 500px) {
  .hello .hello_bgtext_black_wrapper {
    height: 3rem;
  }
}

@media (max-width: 410px) {
  .hello .hello_bgtext_black_wrapper {
    height: 2.7rem;
  }
}

.hello .hello_bgtext_mute_wrapper {
  height: 4rem;
}

.hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
  font-size: 3rem;
  font-family: 'SF';
  letter-spacing: 1.5px;
  color: #848484;
  opacity: .8;
  height: 0%;
  -webkit-animation: HelloTextShow .8s forwards;
          animation: HelloTextShow .8s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  overflow: hidden;
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 2rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: 1rem;
  }
}

@media (max-width: 410px) {
  .hello .hello_bgtext_mute_wrapper .hello_bgtext_mute {
    font-size: .8rem;
  }
}

@media (max-width: 1400px) and (min-height: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 3rem;
  }
}

@media (max-width: 1300px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 3rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 2.5rem;
  }
}

@media (max-width: 800px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 2rem;
  }
}

@media (max-width: 410px) {
  .hello .hello_bgtext_mute_wrapper {
    height: 1.8rem;
  }
}

.hello .hello_img_wrapper {
  height: 70vh;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.hello .hello_img_wrapper a .hello_img {
  height: 0%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: HellImgShow .8s forwards;
          animation: HellImgShow .8s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
}

@media (max-width: 900px) {
  .hello .hello_img_wrapper a .hello_img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: auto;
  }
}

@media (max-width: 1700px) {
  .hello .hello_img_wrapper {
    height: 60vh !important;
  }
}

@media (min-height: 900px) and (max-width: 1500px) {
  .hello .hello_img_wrapper {
    height: 50vh !important;
  }
}

@media (max-width: 1100px) {
  .hello .hello_img_wrapper {
    display: none;
  }
}

.hello .hello_icons_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.hello .hello_icons_wrapper .hello_icon {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 500px) {
  .hello .hello_icons_wrapper .hello_icon {
    width: 25px;
  }
}

.hello .hello_icons_wrapper .hello_icon:hover {
  cursor: pointer;
}

.hello .hello_icons_wrapper .hello_icon_active {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  cursor: pointer;
}

@media (max-width: 500px) {
  .hello .hello_icons_wrapper {
    margin-top: 25px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 101;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
}

@media (max-width: 1300px) {
  .content {
    -ms-grid-columns: 9fr 5fr;
        grid-template-columns: 9fr 5fr;
  }
}

@media (max-width: 1150px) {
  .content {
    -ms-grid-columns: 11fr 5fr;
        grid-template-columns: 11fr 5fr;
  }
}

@media (max-width: 900px) {
  .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content .content_bg {
  width: 70vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
}

.content .content_bg .about_bg {
  width: 100%;
  height: 100%;
  background: #007f86;
}

@media (max-width: 1300px) {
  .content .content_bg {
    width: 75vw;
  }
}

@media (max-width: 1150px) {
  .content .content_bg {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .content .content_bg {
    width: 100vw;
  }
}

.content .content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6vw 0 8vw;
  z-index: 104;
}

@media (max-width: 1450px) {
  .content .content_info {
    padding: 0 6vw 0 5vw;
  }
}

@media (max-width: 410px) {
  .content .content_info {
    padding: 0 3vw 0 3vw;
  }
}

.content .content_info .content_line {
  height: 1px;
  width: 100%;
  position: relative;
  margin-bottom: 4vh;
  background: white;
  z-index: 104;
}

@media (max-width: 900px) {
  .content .content_info .content_line {
    display: none;
  }
}

.content .content_info .content_line .content_line_text {
  font-size: 1.2rem;
  font-family: 'SF';
  color: #BDDACD;
  letter-spacing: 1px;
  position: absolute;
  left: -15px;
  top: -35px;
}

.content .content_info .content_line .content_line_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 0;
  top: -5px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 105;
}

.content .content_info .content_opentag, .content .content_info .content_closetag {
  height: 1.5rem;
  overflow: hidden;
}

.content .content_info .content_opentag span, .content .content_info .content_closetag span {
  font-size: 1rem;
  color: #BDDACD;
  font-family: 'MonoidRegular';
  letter-spacing: 1px;
}

@media (max-width: 500px) {
  .content .content_info .content_opentag span, .content .content_info .content_closetag span {
    font-size: .8rem;
  }
}

.content .content_info .content_title {
  height: 4rem;
  overflow: hidden;
  margin-top: 5vh;
  margin-left: 2vw;
}

.content .content_info .content_title h3 {
  font-size: 3rem;
  color: white;
  font-family: 'SF';
  letter-spacing: 1px;
}

@media (max-width: 1600px) {
  .content .content_info .content_title h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1150px) {
  .content .content_info .content_title h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .content .content_info .content_title h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .content .content_info .content_title h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1600px) {
  .content .content_info .content_title {
    height: 3.5rem;
  }
}

@media (max-width: 1150px) {
  .content .content_info .content_title {
    height: 3.2rem;
  }
}

@media (max-width: 900px) {
  .content .content_info .content_title {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .content .content_info .content_title {
    height: 2.8rem;
  }
}

@media (max-width: 500px) {
  .content .content_info .content_title {
    height: 2.5rem;
  }
}

@media (max-width: 380px) {
  .content .content_info .content_title {
    height: 5rem;
  }
}

.content .content_info .content_text {
  height: 20vh;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 5vh;
  margin-left: 2vw;
}

.content .content_info .content_text p {
  font-size: 2rem;
  color: white;
  font-family: 'SF';
  letter-spacing: .5px;
}

@media (max-width: 1600px) {
  .content .content_info .content_text p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1150px) {
  .content .content_info .content_text p {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .content .content_info .content_text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1150px) {
  .content .content_info .content_text {
    height: 15vh;
    margin-top: 25px;
    margin-bottom: 4vh;
  }
}

@media (max-width: 900px) {
  .content .content_info .content_text {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 10vh;
  }
}

@media (max-width: 660px) {
  .content .content_info .content_text {
    height: 20vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.content .content_photo {
  width: 25vw;
  height: 500px;
  overflow: hidden;
  z-index: 103;
}

.content .content_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1450px) {
  .content .content_photo {
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .content .content_photo {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .content .content_photo {
    display: none;
  }
}

.content .content_mobile_photo {
  display: none;
  width: 80vw;
  height: 40vh;
  overflow: hidden;
  z-index: 103;
  margin: auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.content .content_mobile_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 900px) {
  .content .content_mobile_photo {
    display: block;
    padding-top: 8vh;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: gray;
  color: white;
  position: relative;
  z-index: 102;
}

.main_active {
  -webkit-animation: MainShow 1s forwards;
          animation: MainShow 1s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.4, 1);
          transition-timing-function: cubic-bezier(0.1, 0.4, 1);
}

.main_close {
  -webkit-animation: MainClose 1s forwards;
          animation: MainClose 1s forwards;
  -webkit-transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
          transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

.hide_hello_img {
  -webkit-animation: HideHelloImg 1s forwards;
          animation: HideHelloImg 1s forwards;
  -webkit-transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
          transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

.show_hello_img {
  -webkit-animation: ShowHelloImg 1s forwards;
          animation: ShowHelloImg 1s forwards;
  -webkit-transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
          transition-timing-function: cubic-bezier(1, 0.06, 0.62, 0.51);
}

@-webkit-keyframes Preloader {
  from {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke: red;
  }
  to {
    stroke-dashoffset: 0;
    stroke: green;
  }
}

@keyframes Preloader {
  from {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke: red;
  }
  to {
    stroke-dashoffset: 0;
    stroke: green;
  }
}

@-webkit-keyframes PreloaderImgJump {
  from {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes PreloaderImgJump {
  from {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes PreloaderCheckShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes PreloaderCheckShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes textTypingShort {
  0% {
    width: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}

@keyframes textTypingShort {
  0% {
    width: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}

@-webkit-keyframes cursorClick {
  0% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: green;
  }
}

@keyframes cursorClick {
  0% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: green;
  }
}

@-webkit-keyframes HidePreloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes HidePreloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes HeaderShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes HeaderShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  10% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes NavButnBefore {
  from {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  to {
    -webkit-transform: rotate(90deg) translateX(8px);
            transform: rotate(90deg) translateX(8px);
  }
}

@keyframes NavButnBefore {
  from {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  to {
    -webkit-transform: rotate(90deg) translateX(8px);
            transform: rotate(90deg) translateX(8px);
  }
}

@-webkit-keyframes NavButnAfter {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes NavButnAfter {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@-webkit-keyframes NavWrapperRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes NavWrapperRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes NavButnBeforeClose {
  from {
    -webkit-transform: rotate(90deg) translateX(8px);
            transform: rotate(90deg) translateX(8px);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
}

@keyframes NavButnBeforeClose {
  from {
    -webkit-transform: rotate(90deg) translateX(8px);
            transform: rotate(90deg) translateX(8px);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
}

@-webkit-keyframes NavButnAfterClose {
  from {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes NavButnAfterClose {
  from {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes NavWrapperRotateClose {
  from {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes NavWrapperRotateClose {
  from {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes BurgerShow {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes BurgerShow {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes BurgerClose {
  from {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes BurgerClose {
  from {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes BigMenuLineShow {
  from {
    width: 0vw;
  }
  to {
    width: 15vw;
  }
}

@keyframes BigMenuLineShow {
  from {
    width: 0vw;
  }
  to {
    width: 15vw;
  }
}

@-webkit-keyframes BigMenuLineClose {
  from {
    width: 15vw;
  }
  to {
    width: 0vw;
  }
}

@keyframes BigMenuLineClose {
  from {
    width: 15vw;
  }
  to {
    width: 0vw;
  }
}

@-webkit-keyframes BigMenuContainerShow {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes BigMenuContainerShow {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes BigMenuContainerClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes BigMenuContainerClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes HelloTextShow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes HelloTextShow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes HellImgShow {
  from {
    height: 0%;
    border-radius: 50%;
  }
  to {
    height: 100%;
    border-radius: 0%;
  }
}

@keyframes HellImgShow {
  from {
    height: 0%;
    border-radius: 50%;
  }
  to {
    height: 100%;
    border-radius: 0%;
  }
}

@-webkit-keyframes MainShow {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes MainShow {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}

@-webkit-keyframes MainClose {
  from {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    height: 100vh;
  }
  to {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    height: 0vh;
  }
}

@keyframes MainClose {
  from {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    height: 100vh;
  }
  to {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    height: 0vh;
  }
}

@-webkit-keyframes HideHelloImg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes HideHelloImg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes ShowHelloImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ShowHelloImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */