@media (min-width: 800px) and (max-width: 1200px) {
    .extra--main {
        .extra--container {
            .best {
                .best--top {
                    grid-template-areas: 
                        "main other-first"
                        "main other-first"
                        "main other-second"
                        ". other-second";
                }
                .best--top--other {
                    grid-template-areas: 
                    "logo logo"
                    "stat stat" !important;
                    grid-template-columns: 1fr !important;
                    padding: 30px 0 30px 0;
                }
            }
        }
    }
}
@media (min-width: 500px) and (max-width: 799px) {
    .best--top {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    
}