@font-face {
    font-family: 'RM';
    src: url("fonts/RobotoMono.ttf");
}
@font-face {
    font-family: 'Ubuntu-bold';
    src: url("fonts/UbuntuMono-Bold.ttf");
}
@font-face {
    font-family: 'Ubuntu-regular';
    src: url("fonts/UbuntuMono-Regular.ttf");
}
@font-face {
    font-family: 'Vag';
    src: url("fonts/Vag.ttf");
}

// colors

$h1-color: #ff6384;
$text-color: #FF8A65;
$text-color-mute: #ff7349;
$text-black: #212121;
$text-black-mute: #3f3f3f;

$page-bg: #262335;
$block-bg: #463465;
$text-orange: #f97e72;
$text-mute-orange: #f97d7242;
$gradient: -webkit-linear-gradient(90deg,#4f4574,#4d456e,#3d3658);
$bright-gradient: -webkit-linear-gradient(90deg,#5a4e83,#574d7c,#443c63);

$normal-green: #00ff8c;
$bright-green: #00ff8c36;

$normal-red: #fe4450;
$mute-red: #d3757b;
$bright-red: #fe445046;

$bright-cyan: #03edf9;

$normal-yellow: #fede5d;
$bright-yellow: #fede5d31;
$slowly-yellow: #fede5d11;

$btn-bg: #2e3663;
$btn-brigt-bg: #4a538a44;