@import './vars';
@import './keyframes';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: $SegoeUI;
}
h1 {
    font-size: $labels_huge;        
    line-height: normal;
}
a, .burger_link {cursor: pointer;}

.burger {
    background: $dark;
    opacity: .9;
    transition-timing-function: cubic-bezier(0.3, 0.4, 1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 5;
    transform: translateX(100vw);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      font-size: $labels_big;
      color: white;
      margin-bottom: 25px;
      font-weight: 700;
      text-decoration: none;
      position: relative;
      padding: 0 25px 0 25px;
      transition: all 2s ease-in-out;
      @media (max-width: 700px) {
        font-size: $labels_medium;
      }
      @media (max-width: 700px) {
        font-size: $labels_normal;
      }
    }
    a::before, a::after {
      content: "";
      height: 100%;
      width: 4px;
      position: absolute;
      background: $orange;
      opacity: 0;
      border-radius: 2px;
    }
    a::before { left: 0; top: 0; }
    a::after { right: 0; top: 0; }
    a:hover {
      &::before, &::after {
        opacity: 1;
      }
    }
    

}
// класс open, close, dark, light, необходимый для анимации кнопки меню
.open::before {
    animation: NavButnBefore 1s forwards;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .open::after {
    height: 0px !important;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .open {
    animation: NavButnAfter 1s forwards;
    transition: transform 0.8s  cubic-bezier(0.3, 0.4, 1);
  }
  .close::before {
    animation: NavButnBeforeClose 1s forwards;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .close::after {
    height: 1px !important;
    transition: transform 0.8s cubic-bezier(0.3, 0.4, 1);
  }
  .close {
    animation: NavButnAfterClose 1s forwards;
    transition: transform 0.8s  cubic-bezier(0.3, 0.4, 1);
  }

body::-webkit-scrollbar {
    display: none;
}
.main {
  width: 100vw;
  overflow: hidden;
    .hello {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav {
          width: 100vw;
          height: 100px;
          padding: 28px 85px 0px 85px;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 6;
          display: flex;
          align-items: center;
          justify-content: space-between;
          animation: DropUpsideDown .5s;
          transition-timing-function: cubic-bezier(0.3, 0.4, 1);
          transition: .5s ease-in-out;
          @media (max-width: 800px) {
            padding: 28px 50px 0px 50px;
          }
          .nav_logo {
              width: 98px;
              height: 98px;
              object-fit: cover;
              cursor: pointer;
              @media (max-width: 800px) {
                width: 60px;
                height: 60px;
              }
          }
          .nav_burger_wrapper {
              width: 100px;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition-timing-function: cubic-bezier(0.3, 0.4, 1);
              cursor: pointer;
              @media (max-width: 700px) {
                width: 70px;
                height: 70px;
              }
              @media (max-width: 500px) {
                width: 50px;
                height: 50px;
              }
              .nav_burger {
                height: 2px;
                width: 100%;
                position: relative;
                background: white;
                transform-origin: center center;
                cursor: pointer;
                border-radius: 1px;
              }
              .nav_burger::after {
                content: "";
                height: 2px;
                width: 100%;
                background: white;
                top: 8px;
                position: absolute;
                left: 0;
                cursor: pointer;
                border-radius: 1px;
              }
              .nav_burger::before {
                content: "";
                height: 2px;
                width: 100%;
                background: white;
                top: -8px;
                position: absolute;
                left: 0;
                cursor: pointer;
                border-radius: 1px;
              }
              .nav_burger_dark {
                height: 2px;
                width: 100%;
                position: relative;
                background: black;
                transform-origin: center center;
                cursor: pointer;
                border-radius: 1px;
              }
              .nav_burger_dark::after {
                content: "";
                height: 2px;
                width: 100%;
                background: black;
                top: 8px;
                position: absolute;
                left: 0;
                cursor: pointer;
                border-radius: 1px;
              }
              .nav_burger_dark::before {
                content: "";
                height: 2px;
                width: 100%;
                background: black;
                top: -8px;
                position: absolute;
                left: 0;
                cursor: pointer;
                border-radius: 1px;
              }
            }
      }
        .hello_video {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(.6) contrast(1.5);
            animation: Opacity .5s ease-in-out forwards;
        }
        .hello_effect {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 2;
        }
        .hello_textWrapper {
          display: flex;
          flex-direction: column;
          width: 70vw;
          z-index: 2;
          @media (max-width: 1100px) {
            width: 80vw;
          }
          @media (max-width: 600px) {
            width: 90vw;
          }
          h3 {
            font-size: $labels_normal;
            color: white;
            opacity: .6;
            font-weight: 700;
            margin-bottom: 18px;
            animation-delay: .9s;
            @media (max-width: 1400px) {
              font-size: $labels_small;
            }
            @media (max-width: 600px) {
              font-size: $labels_tiny;
            }
          }
          h1, h3 {
              -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 110%);
              clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 110%);
              transform: translateY(-50px);
              opacity: 0;
              animation: titleAnimation 3s ease forwards;
              animation-delay: .3s;
          }
          h1 {
            //animation: DropDownUp .7s forwards;
            &:first-child{
                animation-delay: 0.8s;
            
              }
              &:last-child{
                animation-delay: 0.5s;
              }
              @media (max-width: 1400px) {
                font-size: $labels_big;
              }
              @media (max-width: 600px) {
                font-size: $labels_medium;
              }
              @media (max-width: 374px) {
                font-size: $labels_normal;
              }
          }
        }
    }
    .about {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      padding: 0 155px 0 155px;
      margin-top: 200px;
      @media (max-width: 1700px) {
        padding: 0 100px 0 100px;
      }
      @media (max-width: 1200px) {
        padding: 0 50px 0 50px;
      }
      @media (max-width: 500px) {
        padding: 0 25px 0 25px;
      }
      .about_info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 40vw;
        margin-top: 75px;
        @media (max-width: 1400px) {
          width: 50vw;
        }
        @media (max-width: 900px) {
          width: auto;
        }
        h3 {
          font-size: $labels_normal;
          color: $orange;
          opacity: 0;
          position: relative;
          width: auto;
          padding-right: 70px;
          @media (max-width: 1400px) {
            font-size: $labels_small;
          }
        }
        
        h2 {
          font-size: $labels_big;
          color: $dark;
          font-weight: 700;
          letter-spacing: 3px;
          opacity: 0;
          @media (max-width: 1400px) {
            font-size: $labels_medium;
          }
        }
        p {
          font-size: $text_normal;
          color: $dark;
          font-weight: 300;
          letter-spacing: 1.5px;
          margin-bottom: 15px;
          opacity: 0;
          @media (max-width: 1400px) {
            font-size: $text_small;
          }
        }
        button {opacity: 0; animation-delay: .5s;}
      }
      img {
        width: 670px;
        height: 670px;
        object-fit: cover;
        opacity: 0;
        @media (max-width: 1700px) {
          width: 40vw;
          height: auto;
          object-fit: contain;
        }
        @media (max-width: 1400px) {
          width: 35vw;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
    .awards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 100vh;
      padding: 0 0 0 155px;
      margin-top: 200px;
      @media (max-width: 1800px) {
        padding: 0 0 0 50px;
      }
      @media (max-width: 1200px) {
        padding: 0;
      }
      @media (max-width: 700px) {
        height: auto;
      }
      img {
        width: 534px;
        height: 801px;
        opacity: 0;
        object-fit: contain;
        @media (max-width: 1600px) {
          width: 35vw;
          height: auto;
        }
        @media (max-width: 1400px) {
          width: 30vw;
          height: auto;
        }
        @media (max-width: 1200px) {
          display: none;
        }
      }
      .awards_info {
        width: 1093px;
        height: auto;
        background: $dark;
        transform: translateX(100%);
        padding: 108px 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .7s ease-in-out;
        @media (max-width: 1600px) {
          width: 60vw;
        }
        @media (max-width: 1200px) {
          width: 100vw;
        }
        .awards_info_smlabel::before {
          content: "";
          position: absolute;
          left: 0;
          top: 45%;
          width: 50px;
          height: 2px;
          background: $orange;
          @media (max-width: 500px) {
            width: 25px;
          }
        }
        .awards_info_smlabel::after {
          content: "";
          position: absolute;
          right: 0;
          top: 45%;
          width: 50px;
          height: 2px;
          background: $orange;
          @media (max-width: 500px) {
            width: 25px;
          }
        }
        .awards_info_smlabel {
          font-size: $labels_normal;
          font-weight: 700;
          letter-spacing: 1.5px;
          color: $orange;
          position: relative;
          opacity: 0;
          padding: 0 70px;
          @media (max-width: 600px) {
            font-size: $labels_small;
          }
          @media (max-width: 500px) {
            padding: 0 30px;
          }
          @media (max-width: 400px) {
            font-size: $labels_tiny;
          }
        }
        h2 {
          font-size: $labels_big;
          font-weight: 700;
          letter-spacing: 3px;
          color: white;
          opacity: 0;
          @media (max-width: 600px) {
            font-size: $labels_normal;
            margin-top: 15px;
          }
        }
        .awards_info_stats {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 100px;
          row-gap: 40px;
          margin-top: 94px;
          @media (max-width: 1400px) {
            row-gap: 15px;
            margin-top: 40px;
          }
          @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
          }
          .awards_info_stats_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 13px;
            .awards_info_stats_item_num {
              font-size: $labels_big;
              font-weight: 700;
              letter-spacing: 3px;
              color: $orange;
              opacity: 0;
              @media (max-width: 600px) {
                font-size: $labels_medium;
              }
            }
            .awards_info_stats_item_text {
              font-size: $labels_normal;
              font-weight: 700;
              letter-spacing: 1.5px;
              color: white;
              text-align: center;
              opacity: 0;
              @media (max-width: 1600px) {
                font-size: $labels_small;
              }
              @media (max-width: 1200px) {
                font-size: $labels_normal;
              }
              @media (max-width: 910px) {
                font-size: $labels_small;
              }
              @media (max-width: 700px) {
                font-size: $labels_normal;
              }
              @media (max-width: 700px) {
                font-size: $labels_small;
              }
              @media (max-width: 500px) {
                font-size: $labels_tiny;
              }
            }
          }
        }
      }
    }
    .history-hello {
      width: 100vw;
      height: 100vh;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .5s ease-in-out;
      .history-hello_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 1100px) {
          width: 80vw;
        }
        h2 {
          font-size: $labels_largest;
          letter-spacing: 7.5px;
          line-height: normal;
          font-weight: 700;
          opacity: 0;
          @media (max-width: 1100px) {
            font-size: $labels_huge;
          }
          @media (max-width: 650px) {
            font-size: $labels_big;
          }
          @media (max-width: 400px) {
            font-size: $labels_medium;
          }
          &:first-child {
            color: rgba(255, 255, 255, 0);
            -webkit-text-stroke: 2px white;
            text-stroke: 2px white;
            @media (max-width: 650px) {
              -webkit-text-stroke: 1px white;
              text-stroke: 1px white;
            }
            @media (max-width: 650px) {
              -webkit-text-stroke: .5px white;
              text-stroke: .5px white;
            }
          }
          &:last-child {
            color: white;
          }
        }
        .history-hello_wrapper_svg {
          width: 0%;
          animation-delay: .5s;
        }
        /*.history-hello_wrapper_arrow {
          position: relative;
          width: 500px;
          height: 2px;
          background: $orange;
          &::before, &::after {
            content: "";
            width: 20px;
            height: 2px;
            position: absolute;
            right: 0;
            background: $orange;
            transform-origin: center;
          }
          &::after {transform: rotate(-45deg) translateY(5px)}
          &::before {transform: rotate(45deg) translateY(-5px)}
        }*/
      }
      
    }


    
    .history-itemMobile {
      width: 100vw;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      @media (max-width: 900px) {
        display: flex;
      }
      h2 {
        font-size: $labels_big;
        color: $orange;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
        position: relative;
        opacity: 0;
        @media (max-width: 500px) {
          font-size: $labels_medium;
        }
      }
      .history-item_info_line {
        width: 70vw;
        height: 3px;
        border-radius: 2px;
        background: $gray;
        margin-bottom: 25px;
      }
      .history-item_slider {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
       
        .history-item_slider_wrapper {
          width: 100%;
          height: auto;
          display: flex;
          transform: translate3d(0, 0, 0);
          transition: .5s ease-in-out;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-right: 100px;
            opacity: 0;
          }
        }
        .history-item_slider_switches {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
          width: 50%;
          .history-item_slider_switches_item, .history-item_slider_switches_item_active {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $gray;
            @media (max-width: 1400px) {
              width: 15px;
              height: 15px;
            }
          }
          .history-item_slider_switches_item_active {background: $gray_dark;}
          .history-item_slider_switches_btns {
            position: absolute;
            right: 50px;
            bottom: 0;
            opacity: .7;
            display: flex;
            @media (max-width: 600px) {
              right: 25px;
            }
            .arrow {
              --arrow-size: 30px;
              position: relative;
              display: inline-flex;
              vertical-align: middle;
              width: var(--arrow-size);
              height: var(--arrow-size);
              overflow: hidden;
              
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                box-sizing: border-box;
                display: inline-block;
                width: calc( var(--arrow-size) * .7071);
                height: calc( var(--arrow-size) * .7071);
                border-top: calc( var(--arrow-size) / 5 ) solid $dark;
                transition: all 150ms ease-in-out;
              }
              
              &.arrow_left {
                &::after {
                  left: calc( var(--arrow-size) / 5 );
                  border-left: calc( var(--arrow-size) / 5 ) solid $dark;
                  transform-origin: top left;
                  rotate: -45deg;
                }
            
                &:hover::after {
                  box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                }
              }
            
              &.arrow_right {
                &::after {
                  right: calc( var(--arrow-size) / 5 );
                  border-right: calc( var(--arrow-size) / 5 ) solid $dark;
                  transform-origin: top right;
                  rotate: 45deg;
                }
            
                &:hover::after {
                  box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                }
              }
            }
            
            a {
              &:hover .arrow {
                &.arrow_left,
                &.arrow_right {
                  &::after {
                    border-color: $orange;
                  }
                }
            
                &.arrow_left {
                  &::after {
                    box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                  }
                }
            
                &.arrow_right {
                  &::after {
                    box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                  }
                }
              }
            }
          }
        }
      }
      p {
        color: $dark;
        font-size: $text_normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.5px;
        margin-top: 50px;
        opacity: 0;
        padding: 0 50px;
        @media (max-width: 600px) {
          font-size: $text_small;
          padding: 0 15px;
        }
      }
      button {margin-top: 50px; opacity: 0;}
    }


    .history-item {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 900px) {
        display: none;
      }
      .history-item_slider {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        border-right: 5px solid $gray;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        @media (max-width: 1400px) {
          border-right: 2px solid $gray;
          padding: 0 50px;
        }
        @media (max-width: 900px) {
          width: 50vw;
        }
        .history-item_slider_wrapper {
          width: 100%;
          height: auto;
          display: flex;
          transform: translate3d(0, 0, 0);
          transition: .5s ease-in-out;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-right: 100px;
            opacity: 0;
          }
        }
        .history-item_slider_switches {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
          width: 50%;
          .history-item_slider_switches_item, .history-item_slider_switches_item_active {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $gray;
            @media (max-width: 1400px) {
              width: 15px;
              height: 15px;
            }
          }
          .history-item_slider_switches_item_active {background: $gray_dark;}
          .history-item_slider_switches_btns {
            position: absolute;
            right: 50px;
            bottom: 0;
            opacity: .7;
            display: flex;
            .arrow {
              --arrow-size: 30px;
              position: relative;
              display: inline-flex;
              vertical-align: middle;
              width: var(--arrow-size);
              height: var(--arrow-size);
              overflow: hidden;
              
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                box-sizing: border-box;
                display: inline-block;
                width: calc( var(--arrow-size) * .7071);
                height: calc( var(--arrow-size) * .7071);
                border-top: calc( var(--arrow-size) / 5 ) solid $dark;
                transition: all 150ms ease-in-out;
              }
              
              &.arrow_left {
                &::after {
                  left: calc( var(--arrow-size) / 5 );
                  border-left: calc( var(--arrow-size) / 5 ) solid $dark;
                  transform-origin: top left;
                  rotate: -45deg;
                }
            
                &:hover::after {
                  box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                }
              }
            
              &.arrow_right {
                &::after {
                  right: calc( var(--arrow-size) / 5 );
                  border-right: calc( var(--arrow-size) / 5 ) solid $dark;
                  transform-origin: top right;
                  rotate: 45deg;
                }
            
                &:hover::after {
                  box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                }
              }
            }
            
            a {
              &:hover .arrow {
                &.arrow_left,
                &.arrow_right {
                  &::after {
                    border-color: $orange;
                  }
                }
            
                &.arrow_left {
                  &::after {
                    box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                  }
                }
            
                &.arrow_right {
                  &::after {
                    box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 $dark;
                  }
                }
              }
            }
          }
        }
      }
      .history-item_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        @media (max-width: 1000px) {
          padding-left: 25px;
        }
        h2 {
          font-size: $labels_huge;
          color: $orange;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 5px;
          position: relative;
          opacity: 0;
          @media (max-width: 1400px) {
            font-size: $labels_big;
          }
          @media (max-width: 1000px) {
            font-size: $labels_medium;
          }
        }
        .history-item_info_line {
          width: 632px;
          height: 5px;
          border-radius: 2px;
          background: $gray;
          @media (max-width: 1400px) {
            height: 2px;
            width: 30vw;
          }
        }
        p {
          width: min(549px, 40vw);
          color: $dark;
          font-size: $text_normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.5px;
          margin-top: 180px;
          opacity: 0;
          @media (max-width: 1400px) {
            font-size: $text_small;
            margin-top: 50px;
          }
          @media (max-width: 900px) {
            width: 45vw;
          }
        }
        button {margin-top: 50px; opacity: 0;}
      }
    }
}